#footer-bar {
  background-color: #B0ADA6;
  color: #FFF;
  margin: 0 auto;
  padding: 0.764em 0;
  text-align: center;
  width: 100%; }
  #footer-bar li {
    display: inline;
    padding: 0 10px; }
