#header-top-container {
  float: right;
  width: 100%; }
  #header-top-container #navigation-top {
    float: right;
    margin-right: 10px; }
    #header-top-container #navigation-top li {
      float: left;
      padding: 15px 20px 15px 0; }
  #header-top-container form {
    float: right;
    margin-top: 11px; }
    #header-top-container form #searchbar {
      border: 1px solid #94918A;
      float: right;
      padding: 1px;
      width: 130px; }
      #header-top-container form #searchbar:focus {
        outline: none; }
    #header-top-container form input[type=submit] {
      background: #b0ada6 url("../../images/searchbar_icon.png");
      cursor: pointer;
      float: right;
      height: 18px;
      width: 21px; }

#header-menu-logo-container {
  background-color: #B0ADA6;
  clear: right;
  float: right;
  width: 100%; }
  #header-menu-logo-container #logo {
    float: left; }
  #header-menu-logo-container #shop-link {
    background-color: #93B897;
    float: left;
    line-height: 36px;
    padding: 0 15px; }
    #header-menu-logo-container #shop-link:hover {
      background-color: #7a997d; }
  #header-menu-logo-container #navigation-pages {
    float: right; }
    #header-menu-logo-container #navigation-pages li {
      float: left; }
      #header-menu-logo-container #navigation-pages li a {
        background-color: #B0ADA6;
        color: #FFF;
        display: block;
        float: left;
        line-height: 36px;
        padding: 0 12px; }
        #header-menu-logo-container #navigation-pages li a:hover {
          background-color: #585653; }

content {
  /* FRONT PAGE HEADER MENU */ }
  content #language-picker {
    float: right;
    margin-bottom: 30px; }
  content #social-business-menu {
    float: left; }
    content #social-business-menu li {
      border-radius: 5px;
      margin-top: 5px; }
      content #social-business-menu li:first-child {
        margin-top: 0; }
      content #social-business-menu li a {
        border-radius: 10px;
        background-color: #94918A;
        display: block;
        padding: 10px;
        width: 140px; }
        content #social-business-menu li a .term {
          display: block;
          margin-top: 2px; }
    content #social-business-menu li.grey a {
      background-color: #94918A; }
    content #social-business-menu li.grey a:hover {
      background-color: #7b7873; }
    content #social-business-menu li.green a {
      background-color: #9CC1A2; }
    content #social-business-menu li.green a:hover {
      background-color: #82a087; }
    content #social-business-menu li.blue a {
      background-color: #83A9C0; }
    content #social-business-menu li.blue a:hover {
      background-color: #6d8ca0; }
    content #social-business-menu li.purple a {
      background-color: #A8A6CD; }
    content #social-business-menu li.purple a:hover {
      background-color: #8c8aaa; }
    content #social-business-menu li.orange a {
      background-color: #D4B690; }
    content #social-business-menu li.orange a:hover {
      background-color: #b09778; }

footer #footer-bar {
  background-color: #B0ADA6;
  color: #FFF;
  margin: 0 auto;
  padding: 0.764em 0;
  text-align: center;
  width: 100%; }
  footer #footer-bar li {
    display: inline;
    padding: 0 10px; }
footer #co2-link {
  float: right;
  margin-top: 15px; }

.clearer {
  clear: both; }
