/* line 4, ../sass/misc.scss */
#header-top-container {
  float: right;
  width: 100%;
}
/* line 8, ../sass/misc.scss */
#header-top-container #navigation-top {
  float: right;
  margin-right: 10px;
}
/* line 12, ../sass/misc.scss */
#header-top-container #navigation-top li {
  float: left;
  padding: 15px 20px 15px 0;
}
/* line 18, ../sass/misc.scss */
#header-top-container form {
  border: 1px solid #94918A;
  float: right;
  height: 18px;
  margin-top: 11px;
  width: 153px;
}
/* line 25, ../sass/misc.scss */
#header-top-container form #searchbar {
  float: right;
  height: 100%;
  line-height: 16px;
  padding-left: 1px;
  width: 130px;
}
/* line 32, ../sass/misc.scss */
#header-top-container form #searchbar:focus {
  outline: none;
}
/* line 37, ../sass/misc.scss */
#header-top-container form input[type=submit] {
  background-color: #B0ADA6;
  background-image: url("../../images/searchbar_icon.png");
  cursor: pointer;
  float: right;
  height: 100%;
  width: 21px;
}

/* line 48, ../sass/misc.scss */
#header-menu-logo-container {
  background-color: #B0ADA6;
  clear: right;
  float: right;
  width: 100%;
}
/* line 54, ../sass/misc.scss */
#header-menu-logo-container #logo {
  float: left;
}
/* line 58, ../sass/misc.scss */
#header-menu-logo-container #shop-link {
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: #93B897;
  float: left;
  line-height: 36px;
  padding: 0 15px;
}
/* line 66, ../sass/misc.scss */
#header-menu-logo-container #shop-link:hover {
  background-color: #7a997d;
}
/* line 71, ../sass/misc.scss */
#header-menu-logo-container #navigation-pages {
  float: right;
}
/* line 74, ../sass/misc.scss */
#header-menu-logo-container #navigation-pages li {
  float: left;
}
/* line 76, ../sass/misc.scss */
#header-menu-logo-container #navigation-pages li a {
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: #B0ADA6;
  color: #FFF;
  display: block;
  float: left;
  line-height: 36px;
  padding: 0 12px;
}
/* line 85, ../sass/misc.scss */
#header-menu-logo-container #navigation-pages li a:hover {
  background-color: #92908a;
}
/* line 91, ../sass/misc.scss */
#header-menu-logo-container #navigation-pages li.current-menu-item a {
  background-color: #92908a;
}

/* line 97, ../sass/misc.scss */
#header-content #language-picker {
  float: right;
  margin-bottom: 30px;
}
/* line 103, ../sass/misc.scss */
#header-content #frontpage-header-container {
  width: 100%;
  float: left;
  /* FRONT PAGE HEADER MENU */
}
/* line 108, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu {
  float: left;
}
/* line 111, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu li {
  margin-top: 5px;
}
/* line 114, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu li:first-child {
  margin-top: 0;
}
/* line 118, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu li a {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: #94918A;
  display: block;
  height: 30px;
  padding: 10px;
  width: 140px;
}
/* line 127, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu li a .term {
  display: block;
  margin-top: 1px;
}
/* line 134, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu li.grey a {
  background-color: #94918A;
}
/* line 135, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu li.grey a:hover {
  background-color: #7b7873;
}
/* line 137, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu li.green a {
  background-color: #9CC1A2;
}
/* line 138, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu li.green a:hover {
  background-color: #82a087;
}
/* line 140, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu li.blue a {
  background-color: #83A9C0;
}
/* line 141, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu li.blue a:hover {
  background-color: #6d8ca0;
}
/* line 143, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu li.purple a {
  background-color: #A8A6CD;
}
/* line 144, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu li.purple a:hover {
  background-color: #8c8aaa;
}
/* line 146, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu li.orange a {
  background-color: #D4B690;
}
/* line 147, ../sass/misc.scss */
#header-content #frontpage-header-container #social-business-menu li.orange a:hover {
  background-color: #b09778;
}
/* line 150, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-color: #EAE6E3;
  float: right;
  height: 245px;
  padding: 15px 10px 10px;
  position: relative;
  width: 775px;
}
/* line 159, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content img#intro-movie {
  float: left;
  left: 35px;
  margin-right: 50px;
  position: relative;
  top: -40px;
  z-index: 999;
}
/* line 168, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content iframe {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  left: -250px;
  top: 70px;
  z-index: 1000;
}
/* line 176, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content .header-quote {
  background: url("../../images/header_frontpage_quotes.png") top left no-repeat;
  float: left;
  padding: 14px 0 0 35px;
  width: 250px;
  height: 186px;
}
/* line 183, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content .header-quote p#header-quote-text {
  margin-bottom: 10px;
}
/* line 187, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content .header-quote div#read-more-signature {
  background: url("../../images/header_frontpage_signature.png") right center no-repeat;
  height: 33px;
  line-height: 33px;
  width: 100%;
}
/* line 194, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content .header-quote div#read-more-signature a {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 200, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content #newsletter-signup-box {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-color: #9CC1A2;
  float: left;
  margin-left: 35px;
  padding-bottom: 10px;
  position: relative;
  width: 250px;
  z-index: 500;
}
/* line 210, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content #newsletter-signup-box #header {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #94918A;
  padding: 15px 0 10px 20px;
}
/* line 216, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content #newsletter-signup-box #header span#social-business-trends {
  display: block;
  height: 12px;
}
/* line 221, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content #newsletter-signup-box #header span#newsletter {
  display: block;
  height: 18px;
}
/* line 228, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content #newsletter-signup-box #content {
  margin-bottom: 15px;
  padding: 10px 20px 0;
}
/* line 233, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content #newsletter-signup-box #newsletter-signup-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a4a19c), color-stop(100%, #7c7972));
  background-image: -webkit-linear-gradient(top, #a4a19c, #7c7972);
  background-image: -moz-linear-gradient(top, #a4a19c, #7c7972);
  background-image: -o-linear-gradient(top, #a4a19c, #7c7972);
  background-image: linear-gradient(top, #a4a19c, #7c7972);
  background-color: #7C7972;
  display: block;
  float: right;
  margin-right: 20px;
  padding: 5px 20px;
}
/* line 243, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content #newsletter-signup-box #newsletter-signup-button:hover {
  background-color: #67645f;
  color: #e7e7e7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #888682), color-stop(100%, #67645f));
  background-image: -webkit-linear-gradient(top, #888682, #67645f);
  background-image: -moz-linear-gradient(top, #888682, #67645f);
  background-image: -o-linear-gradient(top, #888682, #67645f);
  background-image: linear-gradient(top, #888682, #67645f);
}
/* line 249, ../sass/misc.scss */
#header-content #frontpage-header-container #frontpage-header-content #newsletter-signup-box #newsletter-signup-button:active {
  color: #d4d4d4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67645f), color-stop(100%, #888682));
  background-image: -webkit-linear-gradient(top, #67645f, #888682);
  background-image: -moz-linear-gradient(top, #67645f, #888682);
  background-image: -o-linear-gradient(top, #67645f, #888682);
  background-image: linear-gradient(top, #67645f, #888682);
}

/* line 259, ../sass/misc.scss */
#page {
  z-index: 100;
}
/* line 262, ../sass/misc.scss */
#page .left-sidebar .widget-container {
  background: url("../../images/post_type_icon_books.png") top left no-repeat;
  float: left;
  padding-left: 50px;
  width: 100%;
}

/* line 283, ../sass/misc.scss */
footer #footer-bar {
  background-color: #B0ADA6;
  color: #FFF;
  margin: 0 auto;
  padding: 0.764em 0;
  text-align: center;
  width: 100%;
}
/* line 291, ../sass/misc.scss */
footer #footer-bar li {
  display: inline;
  padding: 0 10px;
}
/* line 297, ../sass/misc.scss */
footer #co2-link {
  float: right;
  margin-top: 15px;
}

/* line 303, ../sass/misc.scss */
.clearer {
  clear: both;
}
