/* line 3, ../sass/page-structure.scss */
html, body {
  height: 100%;
}

/* line 8, ../sass/page-structure.scss */
#page-wrapper header {
  margin: 0 auto;
  width: 960px;
}
/* line 12, ../sass/page-structure.scss */
#page-wrapper header #header-menu-logo-container {
  margin-bottom: 4px;
}
/* line 17, ../sass/page-structure.scss */
#page-wrapper #header {
  margin: 0 auto;
  width: 960px;
}
/* line 22, ../sass/page-structure.scss */
#page-wrapper #page-content, #page-wrapper #page-content-frontpage {
  background: url("../../images/background_gradient.png") repeat-x;
  padding-top: 30px;
  z-index: 1;
}
/* line 27, ../sass/page-structure.scss */
#page-wrapper #page-content #page, #page-wrapper #page-content-frontpage #page {
  background: #fff;
  margin: 0 auto;
  padding: 60px 22px 30px;
  width: 962px;
  background: url("../../images/gradient_box.png") top left no-repeat;
}
/* line 36, ../sass/page-structure.scss */
#page-wrapper #page-content #page section.left-sidebar, #page-wrapper #page-content #page section.right-sidebar, #page-wrapper #page-content-frontpage #page section.left-sidebar, #page-wrapper #page-content-frontpage #page section.right-sidebar {
  float: left;
}
/* line 41, ../sass/page-structure.scss */
#page-wrapper #page-content #page section.left-sidebar, #page-wrapper #page-content-frontpage #page section.left-sidebar {
  border-right: 1px solid #c6c2b7;
  width: 330px;
}
/* line 46, ../sass/page-structure.scss */
#page-wrapper #page-content #page section.right-sidebar, #page-wrapper #page-content-frontpage #page section.right-sidebar {
  border-left: 1px solid #c6c2b7;
  margin-left: -1px;
  padding-left: 20px;
}
/* line 54, ../sass/page-structure.scss */
#page-wrapper #page-content {
  margin-top: 30px;
}
/* line 58, ../sass/page-structure.scss */
#page-wrapper #page-content-frontpage {
  margin-top: 75px;
}

/* line 63, ../sass/page-structure.scss */
footer {
  margin: 0 auto;
  position: relative;
  top: 30px;
  width: 960px;
}
