/* line 3, ../sass/page-structure.scss */
html, body {
  height: 100%;
}

/* line 7, ../sass/page-structure.scss */
#page-wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
}
/* line 12, ../sass/page-structure.scss */
#page-wrapper header {
  margin: 0 auto;
  width: 960px;
}
/* line 16, ../sass/page-structure.scss */
#page-wrapper header #header-menu-logo-container {
  margin-bottom: 4px;
}
/* line 21, ../sass/page-structure.scss */
#page-wrapper #header-content {
  clear: both;
  margin: 0 auto;
  width: 960px;
}
/* line 27, ../sass/page-structure.scss */
#page-wrapper #page-content {
  background: url("../../images/background_gradient.png") repeat-x;
  clear: both;
  margin: 75px 0px 20px;
  padding-top: 30px;
}
/* line 33, ../sass/page-structure.scss */
#page-wrapper #page-content #page {
  background: #fff;
  height: 100%;
  margin: 0 auto;
  padding: 30px 0;
  width: 960px;
  -moz-box-shadow: #888888 -3px 5px 25px 5px;
  -webkit-box-shadow: #888888 -3px 5px 25px 5px;
  -o-box-shadow: #888888 -3px 5px 25px 5px;
  box-shadow: #888888 -3px 5px 25px 5px;
}
/* line 41, ../sass/page-structure.scss */
#page-wrapper #page-content #page section.left-sidebar, #page-wrapper #page-content #page section.right-sidebar {
  float: left;
  height: 100%;
}
/* line 46, ../sass/page-structure.scss */
#page-wrapper #page-content #page section.left-sidebar {
  border-right: 1px solid #c6c2b7;
  padding-right: 20px;
  width: 300px;
}

/* line 59, ../sass/page-structure.scss */
footer, #push {
  height: 142px;
  /* .push must be the same height as .footer */
  width: 960px;
  margin: 0 auto;
}

/* Sticky Footer by Ryan Fait http://ryanfait.com/ */
