/* line 3, ../sass/page-structure.scss */
html, body {
  height: 100%;
}

/* line 8, ../sass/page-structure.scss */
#page-wrapper header {
  margin: 0 auto;
  width: 960px;
}
/* line 12, ../sass/page-structure.scss */
#page-wrapper header #header-menu-logo-container {
  margin-bottom: 4px;
}
/* line 17, ../sass/page-structure.scss */
#page-wrapper #header {
  margin: 0 auto;
  width: 960px;
}
/* line 22, ../sass/page-structure.scss */
#page-wrapper #page-content {
  background: url("../../images/background_gradient.png") repeat-x;
  margin-top: 75px;
  padding-top: 30px;
  z-index: 1;
}
/* line 28, ../sass/page-structure.scss */
#page-wrapper #page-content #page {
  background: #fff;
  margin: 0 auto;
  padding: 60px 0 30px;
  width: 960px;
  -moz-box-shadow: #888888 -3px 20px 25px 5px;
  -webkit-box-shadow: #888888 -3px 20px 25px 5px;
  -o-box-shadow: #888888 -3px 20px 25px 5px;
  box-shadow: #888888 -3px 20px 25px 5px;
  background: #fff;
}
/* line 37, ../sass/page-structure.scss */
#page-wrapper #page-content #page section.left-sidebar, #page-wrapper #page-content #page section.right-sidebar {
  float: left;
}
/* line 41, ../sass/page-structure.scss */
#page-wrapper #page-content #page section.left-sidebar {
  border-right: 1px solid #c6c2b7;
  width: 330px;
}
/* line 46, ../sass/page-structure.scss */
#page-wrapper #page-content #page section.right-sidebar {
  border-left: 1px solid #c6c2b7;
  margin-left: -1px;
  padding-left: 20px;
}

/* line 55, ../sass/page-structure.scss */
footer {
  margin: 0 auto;
  position: relative;
  top: 30px;
  width: 960px;
}
