/* line 3, ../sass/page-structure.scss */
html, body {
  height: 100%;
}

/* line 8, ../sass/page-structure.scss */
#page-wrapper header {
  margin: 0 auto;
  width: 960px;
}
/* line 12, ../sass/page-structure.scss */
#page-wrapper header #header-menu-logo-container {
  margin-bottom: 4px;
}
/* line 17, ../sass/page-structure.scss */
#page-wrapper #header-content {
  margin: 0 auto;
  width: 960px;
}
/* line 22, ../sass/page-structure.scss */
#page-wrapper #page-content {
  background: url("../../images/background_gradient.png") repeat-x;
  margin-top: 75px;
  padding-top: 30px;
  z-index: 1;
}
/* line 28, ../sass/page-structure.scss */
#page-wrapper #page-content #page {
  background: #fff;
  margin: 0 auto;
  padding: 30px 0;
  width: 960px;
  -moz-box-shadow: #888888 -3px 5px 25px 5px;
  -webkit-box-shadow: #888888 -3px 5px 25px 5px;
  -o-box-shadow: #888888 -3px 5px 25px 5px;
  box-shadow: #888888 -3px 5px 25px 5px;
}
/* line 36, ../sass/page-structure.scss */
#page-wrapper #page-content #page section.left-sidebar, #page-wrapper #page-content #page section.right-sidebar {
  float: left;
}
/* line 41, ../sass/page-structure.scss */
#page-wrapper #page-content #page section.left-sidebar {
  border-right: 1px solid #c6c2b7;
  padding-right: 20px;
  width: 300px;
}

/* line 54, ../sass/page-structure.scss */
footer {
  position: relative;
  top: 50px;
  width: 960px;
  margin: 0 auto;
}

/* Sticky Footer by Ryan Fait http://ryanfait.com/ */
