/* line 3, ../sass/text-styles.scss */
body {
  font-size: 75%;
}

/* line 7, ../sass/text-styles.scss */
html > body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 14, ../sass/text-styles.scss */
#navigation-top li a {
  color: #9D9C97;
  font-weight: bold;
  text-decoration: none;
}
/* line 20, ../sass/text-styles.scss */
#navigation-top li a:active {
  text-decoration: underline;
}

/* line 29, ../sass/text-styles.scss */
#header-menu-logo-container #shop-link {
  color: #FFF;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 38, ../sass/text-styles.scss */
#header-menu-logo-container #navigation-pages li a {
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 47, ../sass/text-styles.scss */
#header-content {
  /* FRONT PAGE HEADER MENU */
}
/* line 48, ../sass/text-styles.scss */
#header-content #sub-heading {
  text-transform: uppercase;
  color: #94918A;
}
/* line 52, ../sass/text-styles.scss */
#header-content #sub-heading span {
  color: #7D7A73;
  font-weight: bold;
}
/* line 58, ../sass/text-styles.scss */
#header-content #language-picker {
  color: #9D9C97;
  text-transform: uppercase;
}
/* line 62, ../sass/text-styles.scss */
#header-content #language-picker a {
  color: #9D9C97;
  text-decoration: none;
}
/* line 67, ../sass/text-styles.scss */
#header-content #language-picker a.current {
  color: #93B897;
}
/* line 75, ../sass/text-styles.scss */
#header-content #social-business-menu li a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 80, ../sass/text-styles.scss */
#header-content #social-business-menu li a .social {
  font-weight: bold;
}
/* line 84, ../sass/text-styles.scss */
#header-content #social-business-menu li a .term {
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1em;
}
/* line 96, ../sass/text-styles.scss */
#header-content #frontpage-header-content .header-quote h6 {
  color: #7C7972;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.1em;
  margin-bottom: 10px;
}
/* line 104, ../sass/text-styles.scss */
#header-content #frontpage-header-content .header-quote p#header-quote-text {
  color: #7C7972;
  line-height: 1.5em;
}
/* line 111, ../sass/text-styles.scss */
#header-content #frontpage-header-content .header-quote div#read-more-signature a {
  color: #7C7972;
  font-weight: bold;
  text-decoration: none;
}
/* line 116, ../sass/text-styles.scss */
#header-content #frontpage-header-content .header-quote div#read-more-signature a:hover {
  color: #5f5d57;
}
/* line 124, ../sass/text-styles.scss */
#header-content #frontpage-header-content #newsletter-signup-box #header {
  color: #FFF;
  text-transform: uppercase;
}
/* line 131, ../sass/text-styles.scss */
#header-content #frontpage-header-content #newsletter-signup-box #header #newsletter {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}
/* line 137, ../sass/text-styles.scss */
#header-content #frontpage-header-content #newsletter-signup-box #content {
  color: #FFF;
  font-size: 1em;
  line-height: 1.2em;
}
/* line 143, ../sass/text-styles.scss */
#header-content #frontpage-header-content #newsletter-signup-box #newsletter-signup-button {
  color: #FFF;
  text-decoration: none;
}

/* line 154, ../sass/text-styles.scss */
#page .widget-container-left .header-container, #page .widget-container-right .header-container {
  color: #B0ADA6;
}
/* line 157, ../sass/text-styles.scss */
#page .widget-container-left .header-container .first-line, #page .widget-container-right .header-container .first-line {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 0.699em;
  text-transform: uppercase;
}
/* line 165, ../sass/text-styles.scss */
#page .widget-container-left .header-container .second-line, #page .widget-container-right .header-container .second-line {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 1.65em;
  text-transform: uppercase;
}
/* line 173, ../sass/text-styles.scss */
#page .widget-container-left .by-line, #page .widget-container-left .meta-data, #page .widget-container-right .by-line, #page .widget-container-right .meta-data {
  color: #94918A;
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 179, ../sass/text-styles.scss */
#page .widget-container-left .by-line, #page .widget-container-right .by-line {
  font-weight: bold;
}
/* line 183, ../sass/text-styles.scss */
#page .widget-container-left .title, #page .widget-container-right .title {
  color: #94918A;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 190, ../sass/text-styles.scss */
#page .widget-container-left .excerpt, #page .widget-container-right .excerpt {
  color: #94918A;
  line-height: 1.4em;
}
/* line 196, ../sass/text-styles.scss */
#page .widget-container-left .options .read-more, #page .widget-container-left .options .view-cases, #page .widget-container-left .options .view-clients, #page .widget-container-right .options .read-more, #page .widget-container-right .options .view-cases, #page .widget-container-right .options .view-clients {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #749B7F;
  font-size: 1.1em;
  text-decoration: none;
}
/* line 203, ../sass/text-styles.scss */
#page .widget-container-left .options .read-more:hover, #page .widget-container-left .options .view-cases:hover, #page .widget-container-left .options .view-clients:hover, #page .widget-container-right .options .read-more:hover, #page .widget-container-right .options .view-cases:hover, #page .widget-container-right .options .view-clients:hover {
  color: #608169;
}
/* line 209, ../sass/text-styles.scss */
#page .widget-container-left .view-all, #page .widget-container-right .view-all {
  color: #FFF;
  text-decoration: none;
}
/* line 213, ../sass/text-styles.scss */
#page .widget-container-left .view-all:hover, #page .widget-container-right .view-all:hover {
  color: #e7e7e7;
}

/* line 223, ../sass/text-styles.scss */
#footer-bar li {
  font-size: 1em;
  font-weight: 500;
}
