/* line 3, ../sass/text-styles.scss */
body {
  font-size: 75%;
}

/* line 7, ../sass/text-styles.scss */
html > body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 12, ../sass/text-styles.scss */
#shop-link {
  color: #FFF;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 21, ../sass/text-styles.scss */
#navigation-top li a {
  color: #9D9C97;
  font-weight: bold;
  text-decoration: none;
}

/* line 32, ../sass/text-styles.scss */
#header-menu-logo-container #shop-link {
  color: #FFF;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 41, ../sass/text-styles.scss */
#header-menu-logo-container #navigation-pages li a {
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 50, ../sass/text-styles.scss */
#header {
  /* FRONT PAGE HEADER MENU */
}
/* line 51, ../sass/text-styles.scss */
#header #sub-heading {
  text-transform: uppercase;
  color: #94918A;
}
/* line 56, ../sass/text-styles.scss */
#header #language-picker {
  color: #9D9C97;
  text-transform: uppercase;
}
/* line 60, ../sass/text-styles.scss */
#header #language-picker a {
  color: #9D9C97;
  text-decoration: none;
}
/* line 65, ../sass/text-styles.scss */
#header #language-picker a.current {
  color: #93B897;
}
/* line 71, ../sass/text-styles.scss */
#header .header-content .header-title {
  color: #fff;
}
/* line 74, ../sass/text-styles.scss */
#header .header-content .header-title .first-line {
  font-size: 1.8em;
  text-transform: uppercase;
}
/* line 79, ../sass/text-styles.scss */
#header .header-content .header-title .second-line {
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 2.6em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 88, ../sass/text-styles.scss */
#header .header-content .left-column #tagcloud-title {
  color: #7d7a75;
  font-size: 1.3em;
  text-transform: uppercase;
}
/* line 95, ../sass/text-styles.scss */
#header .header-content .left-column #tagcloud a {
  text-decoration: none;
  text-transform: uppercase;
}
/* line 103, ../sass/text-styles.scss */
#header .header-content #club-left .testemonials-title {
  color: #7D7A75;
}
/* line 106, ../sass/text-styles.scss */
#header .header-content #club-left .testemonials-title .first-line {
  font-size: 2.7em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 112, ../sass/text-styles.scss */
#header .header-content #club-left .testemonials-title .second-line {
  font-size: 1.7em;
}
/* line 119, ../sass/text-styles.scss */
#header .header-content #club-left .club-videos .club-video .testemonial-author {
  color: #7D7A75;
  font-size: 1.05em;
  font-weight: bold;
}
/* line 125, ../sass/text-styles.scss */
#header .header-content #club-left .club-videos .club-video .author-url {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #8daf93;
  font-weight: bold;
  text-decoration: none;
}
/* line 132, ../sass/text-styles.scss */
#header .header-content #club-left .club-videos .club-video .author-url:hover {
  color: #82a087;
}
/* line 140, ../sass/text-styles.scss */
#header .header-content #consulting-left {
  width: 372px;
}
/* line 143, ../sass/text-styles.scss */
#header .header-content #consulting-left .header-title {
  background-color: #83A9C0;
  width: 272px;
}
/* line 148, ../sass/text-styles.scss */
#header .header-content #consulting-left .csr-four-corners {
  position: relative;
  height: 190px;
  margin-left: 30px;
  width: 372px;
}
/* line 155, ../sass/text-styles.scss */
#header .header-content #consulting-left .csr-four-corners .middle p {
  color: #888;
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 162, ../sass/text-styles.scss */
#header .header-content #consulting-left .csr-four-corners a {
  color: #FFF;
  text-align: center;
  text-decoration: none;
}
/* line 172, ../sass/text-styles.scss */
#header .header-content #lectures-left .lecture-board ul {
  color: #9CC1A2;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2em;
}
/* line 178, ../sass/text-styles.scss */
#header .header-content #lectures-left .lecture-board ul a {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #9CC1A2;
  text-decoration: none;
}
/* line 183, ../sass/text-styles.scss */
#header .header-content #lectures-left .lecture-board ul a:hover {
  color: #82a087;
}
/* line 193, ../sass/text-styles.scss */
#header .header-content #events-left .event-testemonial .testemonial-content {
  color: #7D7A75;
}
/* line 196, ../sass/text-styles.scss */
#header .header-content #events-left .event-testemonial .testemonial-content .testemonial-author {
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 201, ../sass/text-styles.scss */
#header .header-content #events-left .event-testemonial .testemonial-content .testemonial-entry {
  font-style: italic;
  font-weight: bold;
  line-height: 1.4em;
}
/* line 207, ../sass/text-styles.scss */
#header .header-content #events-left .event-testemonial .testemonial-content .case-link {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #7bb986;
  font-weight: bold;
  text-decoration: none;
}
/* line 213, ../sass/text-styles.scss */
#header .header-content #events-left .event-testemonial .testemonial-content .case-link:hover {
  color: #669a6f;
}
/* line 223, ../sass/text-styles.scss */
#header .header-content #lab-left .lab-container .lab {
  color: #7D7A75;
}
/* line 226, ../sass/text-styles.scss */
#header .header-content #lab-left .lab-container .lab .title {
  font-size: 1.3em;
  line-height: 1.3em;
  text-transform: uppercase;
}
/* line 231, ../sass/text-styles.scss */
#header .header-content #lab-left .lab-container .lab .title .second-line {
  font-weight: bold;
}
/* line 236, ../sass/text-styles.scss */
#header .header-content #lab-left .lab-container .lab .content {
  line-height: 1.3em;
}
/* line 240, ../sass/text-styles.scss */
#header .header-content #lab-left .lab-container .lab .lab-link {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #7bb986;
  font-weight: bold;
  text-decoration: none;
}
/* line 246, ../sass/text-styles.scss */
#header .header-content #lab-left .lab-container .lab .lab-link:hover {
  color: #669a6f;
}
/* line 257, ../sass/text-styles.scss */
#header .header-content #about-right .header-right-box .title {
  font-weight: bold;
  line-height: 1.3em;
}
/* line 262, ../sass/text-styles.scss */
#header .header-content #about-right .header-right-box .content {
  line-height: 1.4em;
}
/* line 266, ../sass/text-styles.scss */
#header .header-content #about-right .header-right-box #read-more-about {
  line-height: 27px;
}
/* line 273, ../sass/text-styles.scss */
#header .header-content .right-column h2 {
  color: #7d7a75;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.2em;
}
/* line 280, ../sass/text-styles.scss */
#header .header-content .right-column p {
  color: #7d7a75;
  line-height: 1.3em;
  margin-bottom: 10px;
}
/* line 286, ../sass/text-styles.scss */
#header .header-content .right-column a {
  color: #7d7a75;
  font-size: 1.1em;
  font-weight: bold;
  float: right;
  text-decoration: none;
}
/* line 298, ../sass/text-styles.scss */
#header #navigation-header-standard li a {
  color: #b0ada6;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 306, ../sass/text-styles.scss */
#header #navigation-header-standard li a:hover {
  color: #7C7973;
}
/* line 311, ../sass/text-styles.scss */
#header #navigation-header-standard li .current {
  color: #7C7973;
}
/* line 316, ../sass/text-styles.scss */
#header #navigation-header-standard .current-menu-item a {
  color: #7C7973;
}
/* line 324, ../sass/text-styles.scss */
#header #navigation-social-business li a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 329, ../sass/text-styles.scss */
#header #navigation-social-business li a .social {
  font-weight: bold;
}
/* line 333, ../sass/text-styles.scss */
#header #navigation-social-business li a .term {
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1em;
}
/* line 345, ../sass/text-styles.scss */
#header .header-content .header-quote h6 {
  color: #7C7972;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.1em;
  margin-bottom: 10px;
}
/* line 353, ../sass/text-styles.scss */
#header .header-content .header-quote p#header-quote-text {
  color: #7C7972;
  line-height: 1.5em;
}
/* line 360, ../sass/text-styles.scss */
#header .header-content .header-quote div#read-more-signature a {
  color: #7C7972;
  font-weight: bold;
  text-decoration: none;
}
/* line 365, ../sass/text-styles.scss */
#header .header-content .header-quote div#read-more-signature a:hover {
  color: #5f5d57;
}
/* line 374, ../sass/text-styles.scss */
#header .header-content .box .box-header {
  color: #FFF;
  text-transform: uppercase;
}
/* line 382, ../sass/text-styles.scss */
#header .header-content .box .box-header span.box-second-line {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}
/* line 390, ../sass/text-styles.scss */
#header .header-content #newsletter-signup-box #newsletter-header {
  color: #FFF;
  text-transform: uppercase;
}
/* line 397, ../sass/text-styles.scss */
#header .header-content #newsletter-signup-box #newsletter-header #newsletter {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}
/* line 403, ../sass/text-styles.scss */
#header .header-content #newsletter-signup-box #newsletter-content {
  color: #FFF;
  font-size: 1em;
  line-height: 1.2em;
}
/* line 409, ../sass/text-styles.scss */
#header .header-content #newsletter-signup-box #newsletter-signup-button {
  color: #FFF;
  text-decoration: none;
}

/* line 421, ../sass/text-styles.scss */
#page .box .box-header {
  color: #FFF;
  text-transform: uppercase;
}
/* line 425, ../sass/text-styles.scss */
#page .box .box-header span.box-first-line {
  line-height: 1em;
}
/* line 429, ../sass/text-styles.scss */
#page .box .box-header span.box-second-line {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  line-height: 1em;
}
/* line 436, ../sass/text-styles.scss */
#page .box .box-content {
  color: #FFF;
  font-size: 1em;
  line-height: 1.1em;
}
/* line 442, ../sass/text-styles.scss */
#page .box .box-content-dark {
  color: #555;
}
/* line 446, ../sass/text-styles.scss */
#page .box .box-button {
  color: #FFF;
  text-decoration: none;
}
/* line 452, ../sass/text-styles.scss */
#page .post-header, #page .comments-header {
  color: #B0ADA6;
}
/* line 455, ../sass/text-styles.scss */
#page .post-header .first-line, #page .comments-header .first-line {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 0.699em;
  text-transform: uppercase;
}
/* line 463, ../sass/text-styles.scss */
#page .post-header .second-line, #page .comments-header .second-line {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 1.65em;
  text-transform: uppercase;
}
/* line 469, ../sass/text-styles.scss */
#page .post-header .second-line a, #page .comments-header .second-line a {
  color: #B0ADA6;
  text-decoration: none;
}
/* line 473, ../sass/text-styles.scss */
#page .post-header .second-line a:hover, #page .comments-header .second-line a:hover {
  text-decoration: underline;
}
/* line 479, ../sass/text-styles.scss */
#page .post-header .big-line, #page .comments-header .big-line {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4.6em;
  font-weight: bold;
  line-height: 0.75em;
  text-transform: uppercase;
}
/* line 487, ../sass/text-styles.scss */
#page .post-header .lead-text, #page .comments-header .lead-text {
  font-weight: bold;
  line-height: 1.3em;
}
/* line 493, ../sass/text-styles.scss */
#page .post {
  color: #7D7872;
}
/* line 496, ../sass/text-styles.scss */
#page .post .meta {
  font-size: 0.9em;
}
/* line 499, ../sass/text-styles.scss */
#page .post .meta .byline {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 503, ../sass/text-styles.scss */
#page .post .meta .byline a {
  color: #7D7872;
  text-decoration: none;
}
/* line 507, ../sass/text-styles.scss */
#page .post .meta .byline a:hover {
  text-decoration: underline;
}
/* line 513, ../sass/text-styles.scss */
#page .post .meta .date {
  text-transform: uppercase;
}
/* line 518, ../sass/text-styles.scss */
#page .post .title {
  font-size: 2.2em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 523, ../sass/text-styles.scss */
#page .post .title a {
  color: #7D7872;
  text-decoration: none;
}
/* line 529, ../sass/text-styles.scss */
#page .post .entry {
  font-size: 1em;
  line-height: 1.5em;
}
/* line 533, ../sass/text-styles.scss */
#page .post .entry a {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #7db985;
  text-decoration: none;
  font-weight: bold;
}
/* line 539, ../sass/text-styles.scss */
#page .post .entry a:hover {
  color: #689a6e;
}
/* line 544, ../sass/text-styles.scss */
#page .post .entry ul {
  margin-bottom: 1em;
}
/* line 548, ../sass/text-styles.scss */
#page .post .entry p {
  margin-bottom: 1em;
}
/* line 551, ../sass/text-styles.scss */
#page .post .entry p strong {
  font-weight: bold;
}
/* line 555, ../sass/text-styles.scss */
#page .post .entry p em {
  font-style: italic;
}
/* line 560, ../sass/text-styles.scss */
#page .post .entry h1 {
  font-size: 1.7em;
}
/* line 561, ../sass/text-styles.scss */
#page .post .entry h2 {
  font-size: 1.5em;
}
/* line 562, ../sass/text-styles.scss */
#page .post .entry h3 {
  font-size: 1.25em;
}
/* line 563, ../sass/text-styles.scss */
#page .post .entry h4 {
  font-size: 1.1em;
}
/* line 564, ../sass/text-styles.scss */
#page .post .entry h5 {
  font-size: 1em;
}
/* line 565, ../sass/text-styles.scss */
#page .post .entry h6 {
  font-size: 0.9em;
}
/* line 567, ../sass/text-styles.scss */
#page .post .entry h1, #page .post .entry h2, #page .post .entry h3, #page .post .entry h4, #page .post .entry h5, #page .post .entry h6 {
  font-weight: bold;
  margin-bottom: 0.6em;
  margin-top: 2.5em;
  text-transform: uppercase;
}
/* line 576, ../sass/text-styles.scss */
#page .post .read-more a {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #7FB987;
  font-weight: bold;
  text-decoration: none;
}
/* line 583, ../sass/text-styles.scss */
#page .post .read-more a:hover {
  color: #699a70;
}
/* line 589, ../sass/text-styles.scss */
#page .post .add-comment {
  float: left;
}
/* line 594, ../sass/text-styles.scss */
#page .post-feed {
  color: #7D7872;
}
/* line 598, ../sass/text-styles.scss */
#page .post-feed .byline {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 604, ../sass/text-styles.scss */
#page .post-feed .date {
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 609, ../sass/text-styles.scss */
#page .post-feed .title {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 614, ../sass/text-styles.scss */
#page .post-feed .title a {
  color: #7D7872;
  text-decoration: none;
}
/* line 620, ../sass/text-styles.scss */
#page .post-feed .entry {
  line-height: 1.3em;
}
/* line 625, ../sass/text-styles.scss */
#page .post-feed .add-comment a {
  color: #7FB987;
  float: left;
  font-weight: bold;
  text-decoration: none;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 632, ../sass/text-styles.scss */
#page .post-feed .add-comment a:hover {
  color: #699a70;
}
/* line 638, ../sass/text-styles.scss */
#page .post-feed .read-more, #page .post-feed .add-comment {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #7FB987;
  float: right;
  font-weight: bold;
  text-decoration: none;
}
/* line 646, ../sass/text-styles.scss */
#page .post-feed .read-more:hover, #page .post-feed .add-comment:hover {
  color: #699a70;
}
/* line 651, ../sass/text-styles.scss */
#page .post-feed .add-comment {
  float: left;
}
/* line 657, ../sass/text-styles.scss */
#page .posts-nav-links a {
  color: #FFF;
  text-decoration: none;
}
/* line 663, ../sass/text-styles.scss */
#page .post-categories, #page .post-tags {
  color: #7D7872;
  font-weight: bold;
}
/* line 667, ../sass/text-styles.scss */
#page .post-categories a, #page .post-tags a {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #7FB987;
  font-weight: normal;
  text-decoration: none;
}
/* line 673, ../sass/text-styles.scss */
#page .post-categories a:hover, #page .post-tags a:hover {
  color: #699a70;
}
/* line 679, ../sass/text-styles.scss */
#page #respond {
  color: #7D7872;
  font-weight: bold;
}
/* line 683, ../sass/text-styles.scss */
#page #respond input {
  font-weight: normal;
}
/* line 687, ../sass/text-styles.scss */
#page #respond input[type=submit] {
  color: #FFF;
}
/* line 692, ../sass/text-styles.scss */
#page .recent-comments {
  color: #7D7872;
  font-size: 1.3em;
  text-transform: uppercase;
}
/* line 697, ../sass/text-styles.scss */
#page .recent-comments span {
  color: #7FB987;
}
/* line 703, ../sass/text-styles.scss */
#page .comment .comment-author-url {
  color: #7FB987;
  font-weight: bold;
  text-decoration: none;
}
/* line 709, ../sass/text-styles.scss */
#page .comment .comment-date-time {
  color: #7D7872;
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 715, ../sass/text-styles.scss */
#page .comment .comment-author {
  color: #7D7872;
  font-size: 1.3em;
  text-transform: uppercase;
}
/* line 721, ../sass/text-styles.scss */
#page .comment .comment-content {
  color: #7D7872;
  line-height: 1.3em;
}
/* line 729, ../sass/text-styles.scss */
#page .widget-list .list .title {
  color: #7d7a75;
}
/* line 733, ../sass/text-styles.scss */
#page .widget-list .list li {
  font-size: 11px;
}
/* line 740, ../sass/text-styles.scss */
#page .widget .header-container {
  color: #B0ADA6;
}
/* line 743, ../sass/text-styles.scss */
#page .widget .header-container .first-line {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 0.699em;
  text-transform: uppercase;
}
/* line 751, ../sass/text-styles.scss */
#page .widget .header-container .second-line {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 1.65em;
  text-transform: uppercase;
}
/* line 760, ../sass/text-styles.scss */
#page .widget .item .by-line, #page .widget .item .meta-data {
  color: #94918A;
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 766, ../sass/text-styles.scss */
#page .widget .item .by-line {
  font-weight: bold;
}
/* line 770, ../sass/text-styles.scss */
#page .widget .item .title {
  color: #94918A;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 778, ../sass/text-styles.scss */
#page .widget .item .title:hover {
  text-decoration: underline;
}
/* line 783, ../sass/text-styles.scss */
#page .widget .item .excerpt {
  color: #94918A;
  line-height: 1.4em;
}
/* line 789, ../sass/text-styles.scss */
#page .widget .item .options .read-more, #page .widget .item .options .view-cases, #page .widget .item .options .view-clients, #page .widget .item .options .add-comment {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #7db985;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: bold;
}
/* line 797, ../sass/text-styles.scss */
#page .widget .item .options .read-more:hover, #page .widget .item .options .view-cases:hover, #page .widget .item .options .view-clients:hover, #page .widget .item .options .add-comment:hover {
  color: #689a6e;
}
/* line 804, ../sass/text-styles.scss */
#page .widget .item .list li {
  color: #7b7873;
  text-transform: uppercase;
}
/* line 811, ../sass/text-styles.scss */
#page .widget .view-all {
  color: #FFF;
  text-decoration: none;
}
/* line 815, ../sass/text-styles.scss */
#page .widget .view-all:hover {
  color: #e7e7e7;
}
/* line 825, ../sass/text-styles.scss */
#page .widget-key-services .key-services .key-service .header {
  color: #FFF;
}
/* line 828, ../sass/text-styles.scss */
#page .widget-key-services .key-services .key-service .header .first-line {
  text-transform: uppercase;
}
/* line 832, ../sass/text-styles.scss */
#page .widget-key-services .key-services .key-service .header .second-line {
  font-family: "Arial Black", Arial, Helvetica;
  font-size: 1.8em;
  text-transform: uppercase;
}
/* line 839, ../sass/text-styles.scss */
#page .widget-key-services .key-services .key-service .key-service-read-more {
  color: #FFF;
  text-decoration: none;
}
/* line 845, ../sass/text-styles.scss */
#page .widget-key-services .key-services .content {
  color: #595753;
  line-height: 1.5em;
}

/* line 859, ../sass/text-styles.scss */
#footer-bar li {
  font-size: 1em;
  font-weight: bold;
}

/* line 866, ../sass/text-styles.scss */
#footer-menu li span {
  color: #9D9C97;
}
/* line 870, ../sass/text-styles.scss */
#footer-menu li a {
  color: #9D9C97;
  text-decoration: none;
}
/* line 876, ../sass/text-styles.scss */
#footer-menu li a:hover {
  text-decoration: underline;
}

/* line 884, ../sass/text-styles.scss */
#tagcloud .s1, .widget-tagcloud .tagcloud .s1 {
  color: #a8a6cd;
  font-size: 14px;
}
/* line 885, ../sass/text-styles.scss */
#tagcloud .s2, .widget-tagcloud .tagcloud .s2 {
  color: #91b997;
  font-size: 16px;
}
/* line 886, ../sass/text-styles.scss */
#tagcloud .s3, .widget-tagcloud .tagcloud .s3 {
  color: #e7cd30;
  font-size: 18px;
}
/* line 887, ../sass/text-styles.scss */
#tagcloud .s4, .widget-tagcloud .tagcloud .s4 {
  color: #83a8c2;
  font-size: 20px;
}
/* line 888, ../sass/text-styles.scss */
#tagcloud .s5, .widget-tagcloud .tagcloud .s5 {
  color: #d7b590;
  font-size: 22px;
}
