/* line 3, ../sass/text-styles.scss */
body {
  font-size: 75%;
}

/* line 7, ../sass/text-styles.scss */
html > body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 14, ../sass/text-styles.scss */
#navigation-top li a {
  color: #9D9C97;
  font-weight: bold;
  text-decoration: none;
}
/* line 20, ../sass/text-styles.scss */
#navigation-top li a:active {
  text-decoration: underline;
}

/* line 29, ../sass/text-styles.scss */
#header-menu-logo-container #shop-link {
  color: #FFF;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 38, ../sass/text-styles.scss */
#header-menu-logo-container #navigation-pages li a {
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 47, ../sass/text-styles.scss */
#header {
  /* FRONT PAGE HEADER MENU */
}
/* line 48, ../sass/text-styles.scss */
#header #sub-heading {
  text-transform: uppercase;
  color: #94918A;
}
/* line 52, ../sass/text-styles.scss */
#header #sub-heading span {
  color: #7D7A73;
  font-weight: bold;
}
/* line 58, ../sass/text-styles.scss */
#header #language-picker {
  color: #9D9C97;
  text-transform: uppercase;
}
/* line 62, ../sass/text-styles.scss */
#header #language-picker a {
  color: #9D9C97;
  text-decoration: none;
}
/* line 67, ../sass/text-styles.scss */
#header #language-picker a.current {
  color: #93B897;
}
/* line 73, ../sass/text-styles.scss */
#header .header-content .header-title {
  color: #fff;
}
/* line 76, ../sass/text-styles.scss */
#header .header-content .header-title .first-line {
  font-size: 1.8em;
  text-transform: uppercase;
}
/* line 81, ../sass/text-styles.scss */
#header .header-content .header-title .second-line {
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 2.6em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 90, ../sass/text-styles.scss */
#header .header-content .left-column #tagcloud-title {
  color: #7d7a75;
  font-size: 1.3em;
  text-transform: uppercase;
}
/* line 97, ../sass/text-styles.scss */
#header .header-content .left-column #tagcloud a {
  text-decoration: none;
  text-transform: uppercase;
}
/* line 105, ../sass/text-styles.scss */
#header .header-content .right-column h2 {
  color: #7d7a75;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.2em;
}
/* line 112, ../sass/text-styles.scss */
#header .header-content .right-column p {
  color: #7d7a75;
  line-height: 1.3em;
  margin-bottom: 10px;
}
/* line 118, ../sass/text-styles.scss */
#header .header-content .right-column a {
  color: #7d7a75;
  font-size: 1.1em;
  font-weight: bold;
  float: right;
  text-decoration: none;
}
/* line 130, ../sass/text-styles.scss */
#header #navigation-header-standard li a {
  color: #b0ada6;
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 137, ../sass/text-styles.scss */
#header #navigation-header-standard li a:hover {
  color: #7C7973;
}
/* line 142, ../sass/text-styles.scss */
#header #navigation-header-standard li .current {
  color: #7C7973;
}
/* line 151, ../sass/text-styles.scss */
#header #navigation-social-business li a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 156, ../sass/text-styles.scss */
#header #navigation-social-business li a .social {
  font-weight: bold;
}
/* line 160, ../sass/text-styles.scss */
#header #navigation-social-business li a .term {
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1em;
}
/* line 172, ../sass/text-styles.scss */
#header .header-content .header-quote h6 {
  color: #7C7972;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.1em;
  margin-bottom: 10px;
}
/* line 180, ../sass/text-styles.scss */
#header .header-content .header-quote p#header-quote-text {
  color: #7C7972;
  line-height: 1.5em;
}
/* line 187, ../sass/text-styles.scss */
#header .header-content .header-quote div#read-more-signature a {
  color: #7C7972;
  font-weight: bold;
  text-decoration: none;
}
/* line 192, ../sass/text-styles.scss */
#header .header-content .header-quote div#read-more-signature a:hover {
  color: #5f5d57;
}
/* line 201, ../sass/text-styles.scss */
#header .header-content .box .box-header {
  color: #FFF;
  text-transform: uppercase;
}
/* line 209, ../sass/text-styles.scss */
#header .header-content .box .box-header span.box-second-line {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}
/* line 217, ../sass/text-styles.scss */
#header .header-content #newsletter-signup-box #newsletter-header {
  color: #FFF;
  text-transform: uppercase;
}
/* line 224, ../sass/text-styles.scss */
#header .header-content #newsletter-signup-box #newsletter-header #newsletter {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}
/* line 230, ../sass/text-styles.scss */
#header .header-content #newsletter-signup-box #newsletter-content {
  color: #FFF;
  font-size: 1em;
  line-height: 1.2em;
}
/* line 236, ../sass/text-styles.scss */
#header .header-content #newsletter-signup-box #newsletter-signup-button {
  color: #FFF;
  text-decoration: none;
}

/* line 248, ../sass/text-styles.scss */
#page .box .box-header {
  color: #FFF;
  text-transform: uppercase;
}
/* line 256, ../sass/text-styles.scss */
#page .box .box-header span.box-second-line {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}
/* line 262, ../sass/text-styles.scss */
#page .box .box-content {
  color: #FFF;
  font-size: 1em;
  line-height: 1.1em;
}
/* line 268, ../sass/text-styles.scss */
#page .box .box-button {
  color: #FFF;
  text-decoration: none;
}
/* line 274, ../sass/text-styles.scss */
#page .post-header, #page .comments-header {
  color: #B0ADA6;
}
/* line 277, ../sass/text-styles.scss */
#page .post-header .first-line, #page .comments-header .first-line {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 0.699em;
  text-transform: uppercase;
}
/* line 285, ../sass/text-styles.scss */
#page .post-header .second-line, #page .comments-header .second-line {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 1.65em;
  text-transform: uppercase;
}
/* line 291, ../sass/text-styles.scss */
#page .post-header .second-line a, #page .comments-header .second-line a {
  color: #B0ADA6;
  text-decoration: none;
}
/* line 295, ../sass/text-styles.scss */
#page .post-header .second-line a:hover, #page .comments-header .second-line a:hover {
  text-decoration: underline;
}
/* line 302, ../sass/text-styles.scss */
#page .post {
  color: #7D7872;
}
/* line 305, ../sass/text-styles.scss */
#page .post .meta {
  font-size: 0.9em;
}
/* line 308, ../sass/text-styles.scss */
#page .post .meta .byline {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 312, ../sass/text-styles.scss */
#page .post .meta .byline a {
  color: #7D7872;
  text-decoration: none;
}
/* line 316, ../sass/text-styles.scss */
#page .post .meta .byline a:hover {
  text-decoration: underline;
}
/* line 322, ../sass/text-styles.scss */
#page .post .meta .date {
  text-transform: uppercase;
}
/* line 327, ../sass/text-styles.scss */
#page .post .title {
  font-size: 2.2em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 332, ../sass/text-styles.scss */
#page .post .title a {
  color: #7D7872;
  text-decoration: none;
}
/* line 338, ../sass/text-styles.scss */
#page .post .entry {
  line-height: 1.3em;
}
/* line 341, ../sass/text-styles.scss */
#page .post .entry p {
  margin-bottom: 1em;
}
/* line 344, ../sass/text-styles.scss */
#page .post .entry p strong {
  font-weight: bold;
}
/* line 348, ../sass/text-styles.scss */
#page .post .entry p a {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #7FB987;
  text-decoration: none;
}
/* line 353, ../sass/text-styles.scss */
#page .post .entry p a:hover {
  color: #699a70;
}
/* line 359, ../sass/text-styles.scss */
#page .post .entry h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.6em;
  margin-top: 2.5em;
  text-transform: uppercase;
}
/* line 369, ../sass/text-styles.scss */
#page .post .read-more a {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #7FB987;
  font-weight: bold;
  text-decoration: none;
}
/* line 376, ../sass/text-styles.scss */
#page .post .read-more a:hover {
  color: #699a70;
}
/* line 383, ../sass/text-styles.scss */
#page .post-feed {
  color: #7D7872;
}
/* line 387, ../sass/text-styles.scss */
#page .post-feed .byline {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 393, ../sass/text-styles.scss */
#page .post-feed .date {
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 398, ../sass/text-styles.scss */
#page .post-feed .title {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 403, ../sass/text-styles.scss */
#page .post-feed .title a {
  color: #7D7872;
  text-decoration: none;
}
/* line 409, ../sass/text-styles.scss */
#page .post-feed .entry {
  line-height: 1.3em;
}
/* line 413, ../sass/text-styles.scss */
#page .post-feed .comment-count {
  color: #7FB987;
  float: left;
  font-weight: bold;
}
/* line 420, ../sass/text-styles.scss */
#page .post-feed .read-more a {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #7FB987;
  float: right;
  font-weight: bold;
  text-decoration: none;
}
/* line 428, ../sass/text-styles.scss */
#page .post-feed .read-more a:hover {
  color: #699a70;
}
/* line 435, ../sass/text-styles.scss */
#page .post-categories, #page .post-tags {
  color: #7D7872;
  font-weight: bold;
}
/* line 439, ../sass/text-styles.scss */
#page .post-categories a, #page .post-tags a {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #7FB987;
  font-weight: normal;
  text-decoration: none;
}
/* line 445, ../sass/text-styles.scss */
#page .post-categories a:hover, #page .post-tags a:hover {
  color: #699a70;
}
/* line 451, ../sass/text-styles.scss */
#page #respond {
  color: #7D7872;
  font-weight: bold;
}
/* line 455, ../sass/text-styles.scss */
#page #respond input {
  font-weight: normal;
}
/* line 459, ../sass/text-styles.scss */
#page #respond input[type=submit] {
  color: #FFF;
}
/* line 464, ../sass/text-styles.scss */
#page .recent-comments {
  color: #7D7872;
  font-size: 1.3em;
  text-transform: uppercase;
}
/* line 469, ../sass/text-styles.scss */
#page .recent-comments span {
  color: #7FB987;
}
/* line 475, ../sass/text-styles.scss */
#page .comment .comment-author-url {
  color: #7FB987;
  font-weight: bold;
  text-decoration: none;
}
/* line 481, ../sass/text-styles.scss */
#page .comment .comment-date-time {
  color: #7D7872;
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 487, ../sass/text-styles.scss */
#page .comment .comment-author {
  color: #7D7872;
  font-size: 1.3em;
  text-transform: uppercase;
}
/* line 493, ../sass/text-styles.scss */
#page .comment .comment-content {
  color: #7D7872;
  line-height: 1.3em;
}
/* line 500, ../sass/text-styles.scss */
#page .widget .header-container {
  color: #B0ADA6;
}
/* line 503, ../sass/text-styles.scss */
#page .widget .header-container .first-line {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 0.699em;
  text-transform: uppercase;
}
/* line 511, ../sass/text-styles.scss */
#page .widget .header-container .second-line {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 1.65em;
  text-transform: uppercase;
}
/* line 520, ../sass/text-styles.scss */
#page .widget .item .by-line, #page .widget .item .meta-data {
  color: #94918A;
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 526, ../sass/text-styles.scss */
#page .widget .item .by-line {
  font-weight: bold;
}
/* line 530, ../sass/text-styles.scss */
#page .widget .item .title {
  color: #94918A;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 538, ../sass/text-styles.scss */
#page .widget .item .title:hover {
  text-decoration: underline;
}
/* line 543, ../sass/text-styles.scss */
#page .widget .item .excerpt {
  color: #94918A;
  line-height: 1.4em;
}
/* line 549, ../sass/text-styles.scss */
#page .widget .item .options .read-more, #page .widget .item .options .view-cases, #page .widget .item .options .view-clients {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #749B7F;
  font-size: 1.1em;
  text-decoration: none;
}
/* line 556, ../sass/text-styles.scss */
#page .widget .item .options .read-more:hover, #page .widget .item .options .view-cases:hover, #page .widget .item .options .view-clients:hover {
  color: #608169;
}
/* line 563, ../sass/text-styles.scss */
#page .widget .view-all {
  color: #FFF;
  text-decoration: none;
}
/* line 567, ../sass/text-styles.scss */
#page .widget .view-all:hover {
  color: #e7e7e7;
}

/* line 575, ../sass/text-styles.scss */
#footer-bar li {
  font-size: 1em;
  font-weight: 500;
}
