@import "compass/css3";
@import "compass/layout/stretching";

#header-top-container {
	float: right;
	width: 100%;
	
	#navigation-top {
		float: right;
		margin-right: 10px;

		li {
			float: left;
			padding: 15px 20px 15px 0;
		}
	}
	
	form {
		float: right;
		margin-top: 11px;
		
		#searchbar {
			border: 1px solid #94918A;
			float: right;
			height: 18px;
			padding: 0px;
			width: 130px;
			
			&:focus {
				outline: none;
			}
		}
		
		input[type=submit] {
			background-color: #B0ADA6;
			background-image: url('../../images/searchbar_icon.png');
			cursor: pointer;
			float: right;
			height: 18px;
			width: 21px;
		}
	}
}

#header-menu-logo-container {
	background-color: #B0ADA6;
	clear: right;
	float: right;
	width: 100%;
	
	#logo {
		float: left;
	}
	
	#shop-link {
		@include transition(background-color, 0.1s, ease-in-out);
		
		background-color: #93B897;
		float: left;
		line-height: 36px;
		padding: 0 15px;	
		
		&:hover {
			background-color: #93B897 / 1.2;
		}	
	}

	#navigation-pages {
		float: right;

		li {
			float: left;
			a {
				@include transition(background-color, 0.1s, ease-in-out);
				background-color: #B0ADA6;
				color: #FFF;
				display: block;
				float: left;
				line-height: 36px;
				padding: 0 12px;
				
				&:hover {
					background-color: #B0ADA6 / 1.2;
				}
			}
		}
		
		li.current-menu-item a { background-color: #B0ADA6 / 1.2; }
	}
}


#header-content {
	#language-picker {
		float: right;
		margin-bottom: 30px;
	}
	
	
	#frontpage-header-container {
		width: 100%;
		float: left;
		
		/* FRONT PAGE HEADER MENU */
		#social-business-menu {
			float: left;		
		
			li {
				margin-top: 5px;
			
				&:first-child {
					margin-top: 0;
				}
			
				a {
					@include border-radius(10px);
					@include transition(background-color, 0.1s, ease-in-out);
					background-color: #94918A;
					display: block;
					height: 30px;
					padding: 10px;
					width: 140px;
				
					.term {
						display: block;
						margin-top: 1px;
					}
				}			
			}
		
			li.grey a { background-color: #94918A; }
			li.grey a:hover { background-color: #94918A / 1.2; }
		
			li.green a { background-color: #9CC1A2; }
			li.green a:hover { background-color: #9CC1A2 / 1.2; }
		
			li.blue a { background-color: #83A9C0; }
			li.blue a:hover { background-color: #83A9C0 / 1.2; }
		
			li.purple a { background-color: #A8A6CD; }
			li.purple a:hover { background-color: #A8A6CD / 1.2; }
		
			li.orange a { background-color: #D4B690; }
			li.orange a:hover { background-color: #D4B690 / 1.2; }
		}
		
		#frontpage-header-content {
			@include border-radius(10px);
			background-color: #EAE6E3;
			float: right;
			height: 245px;
			padding: 15px 10px 10px;
			position: relative;
			width: 775px;
			
			img#intro-movie {				
				float: left;
				left: 35px;
				margin-right: 50px;
				position: relative;
				top: -40px;
				z-index: 999;
			}
			
			iframe {
				@include border-radius(10px);
				position: relative;
				left: -250px;
				top: 70px;
				z-index: 1000;
			}
			
			.header-quote {
				background: url('../../images/header_frontpage_quotes.png') top left no-repeat;
				float: left;
				padding: 14px 0 0 35px;
				width: 250px;
				height: 186px;
				
				p#header-quote-text {
					margin-bottom: 10px;
				}
				
				div#read-more-signature {
					background: url('../../images/header_frontpage_signature.png') right center no-repeat;
					height: 33px;
					line-height: 33px;
					//margin-bottom: 11px;
					width: 100%;
					
					a {
						@include transition(color, 0.1s, ease-in-out);
					}
				}
			}
			
			#newsletter-signup-box {
				@include border-radius(10px);
				background-color: #9CC1A2;
				float: left;
				margin-left: 35px;
				padding-bottom: 10px;
				position: relative;
				width: 250px;
				z-index: 500;
				
				#header {
					@include border-top-radius(10px);
					
					background-color: #94918A;
					padding: 15px 0 10px 20px;
					
					span#social-business-trends {
						display: block;
						height: 12px;
					}
					
					span#newsletter {
						display: block;
						height: 18px;
					}
					
				}
				
				#content {
					margin-bottom: 15px;
					padding: 10px 20px 0;
				}
				
				#newsletter-signup-button {					
					@include border-radius(5px);
					@include background-image(linear-gradient(top, #A4A19C, #7C7972));
					
					background-color: #7C7972;					
					display: block;
					float: right;
					margin-right: 20px;
					padding: 5px 20px;
					
					&:hover {
						background-color: #7C7972 / 1.2;						
						color: #FFF / 1.1;
						@include background-image(linear-gradient(top, #A4A19C / 1.2, #7C7972 / 1.2));
					}
					
					&:active {
						color: #FFF / 1.2;
						@include background-image(linear-gradient(top, #7C7972 / 1.2, #A4A19C / 1.2));
					}
				}
			}
		}
	}
}

#page {
	.left-sidebar {
		.widget-container {
			background: url('../../images/post_type_icon_books.png') top left no-repeat;
			float: left;
			padding-left: 50px;
			width: 100%;
			
			.header-container {
				
				.first-line {
					
				}
				
				.second-line {
					
				}
			}
		}
	}
}

footer {
	#footer-bar {
		background-color: #B0ADA6;
		color: #FFF;
		margin: 0 auto;
		padding: 0.764em 0;
		text-align: center;
		width: 100%;

		li {
			display: inline;
			padding: 0 10px;
		}
	}
	
	#co2-link {
		float: right;
		margin-top: 15px;
	}
}

.clearer {
	clear: both;
}