@import "compass/css3";
@import "compass/layout/stretching";

#header-top-container {
	float: right;
	width: 100%;
	
	#navigation-top {
		float: right;
		margin-right: 10px;

		li {
			float: left;
			padding: 15px 20px 15px 0;
		}
	}
	
	form {
		float: right;
		margin-top: 11px;
		
		#searchbar {
			border: 1px solid #94918A;
			float: right;
			padding: 1px;
			width: 130px;
			
			&:focus {
				outline: none;
			}
		}
		
		input[type=submit] {
			background: #B0ADA6 url('../../images/searchbar_icon.png');
			cursor: pointer;
			float: right;
			height: 18px;
			width: 21px;
		}
	}
}

#header-menu-logo-container {
	background-color: #B0ADA6;
	clear: right;
	float: right;
	width: 100%;
	
	#logo {
		float: left;
	}
	
	#shop-link {
		@include transition(background-color, 0.1s, ease-in-out);
		
		background-color: #93B897;
		float: left;
		line-height: 36px;
		padding: 0 15px;	
		
		&:hover {
			background-color: #93B897 / 1.2;
		}	
	}

	#navigation-pages {
		float: right;

		li {
			float: left;
			a {
				@include transition(background-color, 0.1s, ease-in-out);
				background-color: #B0ADA6;
				color: #FFF;
				display: block;
				float: left;
				line-height: 36px;
				padding: 0 12px;
				
				&:hover {
					background-color: #B0ADA6 / 1.2;
				}
			}
		}
	}
}


#header-content {
	#language-picker {
		float: right;
		margin-bottom: 30px;
	}
	
	
	#frontpage-header-container {
		width: 100%;
		float: left;
		
		/* FRONT PAGE HEADER MENU */
		#social-business-menu {
			float: left;		
		
			li {
				margin-top: 5px;
			
				&:first-child {
					margin-top: 0;
				}
			
				a {
					@include border-radius(10px);
					@include transition(background-color, 0.1s, ease-in-out);
					background-color: #94918A;
					display: block;
					height: 30px;
					padding: 10px;
					width: 140px;
				
					.term {
						display: block;
						margin-top: 1px;
					}
				}			
			}
		
			li.grey a { background-color: #94918A; }
			li.grey a:hover { background-color: #94918A / 1.2; }
		
			li.green a { background-color: #9CC1A2; }
			li.green a:hover { background-color: #9CC1A2 / 1.2; }
		
			li.blue a { background-color: #83A9C0; }
			li.blue a:hover { background-color: #83A9C0 / 1.2; }
		
			li.purple a { background-color: #A8A6CD; }
			li.purple a:hover { background-color: #A8A6CD / 1.2; }
		
			li.orange a { background-color: #D4B690; }
			li.orange a:hover { background-color: #D4B690 / 1.2; }
		}
		
		#frontpage-header-content {
			@include border-radius(10px);
			background-color: #EAE6E3;
			float: right;
			height: 250px;
			padding: 10px;
			position: relative;
			width: 775px;
			
			img {				
				float: left;
				left: 35px;
				position: relative;
				top: -35px;
				z-index: 999;
			}
			
			iframe {
				@include border-radius(10px);
				position: relative;
				left: -250px;
				top: 70px;
				z-index: 1000;
			}
		}
	}
	
	#page {
	}
}

footer {
	#footer-bar {
		background-color: #B0ADA6;
		color: #FFF;
		margin: 0 auto;
		padding: 0.764em 0;
		text-align: center;
		width: 100%;

		li {
			display: inline;
			padding: 0 10px;
		}
	}
	
	#co2-link {
		float: right;
		margin-top: 15px;
	}
}

.clearer {
	clear: both;
}