@import "compass/css3";
@import "compass/layout/stretching";

@mixin featured-image($width, $margin-right) {
	img.featured-image {
		float: left;
		border: 5px solid #E1DCD8;
		margin-right: $margin-right;
		width: $width;
	}
}


#header-top-container {
	float: right;
	width: 100%;
	
	#navigation-top {
		float: right;
		margin-right: 10px;

		li {
			float: left;
			padding: 15px 20px 15px 0;
		}
	}
	
	form {
		border: 1px solid #94918A;
		float: right;
		height: 18px;
		margin-top: 11px;
		width: 153px;
		
		#searchbar {
			float: right;
			height: 100%;
			line-height: 16px;
			padding-left: 1px;
			width: 130px;
			
			&:focus {
				outline: none;
			}
		}
		
		input[type=submit] {
			background-color: #B0ADA6;
			background-image: url('../../images/searchbar_icon.png');
			cursor: pointer;
			float: right;
			height: 100%;
			width: 21px;
		}
	}
}

#header-menu-logo-container {
	background-color: #B0ADA6;
	clear: right;
	float: right;
	width: 100%;
	
	#logo {
		float: left;
	}
	
	#shop-link {
		@include transition(background-color, 0.1s, ease-in-out);
		
		background-color: #93B897;
		float: left;
		line-height: 36px;
		padding: 0 15px;	
		
		&:hover {
			background-color: #93B897 / 1.2;
		}	
	}

	#navigation-pages {
		float: right;

		li {
			float: left;
			a {
				@include transition(background-color, 0.1s, ease-in-out);
				background-color: #B0ADA6;
				color: #FFF;
				display: block;
				float: left;
				line-height: 36px;
				padding: 0 12px;
				
				&:hover {
					background-color: #B0ADA6 / 1.2;
				}
			}
		}
		
		li.current-menu-item a { background-color: #B0ADA6 / 1.2; }
	}
}


#header {
	#language-picker {
		float: right;
		margin-bottom: 30px;
	}
	
	
	#header-container {
		width: 100%;
		float: left;
		
		.navigation-header {
			float: left;		
		
			li {
				margin-top: 5px;
			
				&:first-child {
					margin-top: 0;
				}			
			}
		}
		
		#navigation-header-standard {
			width: 260px;
			
			li {
				
				a {
					@include transition(color, 0.1s, ease-in-out);
					
					display: table-cell;
					vertical-align: middle;
					
					span {
						@include transition(background, 0.1s, ease-in-out);
						
						background: #b0ada6;
						float: left;
						height: 1em;
						margin-right: 5px;
						line-height: 1em;
						width: 1em;
					}
					
					&:hover span {
						background: #7C7973;
					}
				}
			}
		}
		
		#navigation-social-business {
			li {
				a {
					@include border-radius(10px);
					@include transition(background-color, 0.1s, ease-in-out);
					background-color: #94918A;
					display: block;
					height: 30px;
					padding: 10px;
					width: 140px;
				
					.term {
						display: block;
						margin-top: 1px;
					}
				}			
			}
		
			li.grey a { background-color: #94918A; }
			li.grey a:hover { background-color: #94918A / 1.2; }
		
			li.green a { background-color: #9CC1A2; }
			li.green a:hover { background-color: #9CC1A2 / 1.2; }
		
			li.blue a { background-color: #83A9C0; }
			li.blue a:hover { background-color: #83A9C0 / 1.2; }
		
			li.purple a { background-color: #A8A6CD; }
			li.purple a:hover { background-color: #A8A6CD / 1.2; }
		
			li.orange a { background-color: #D4B690; }
			li.orange a:hover { background-color: #D4B690 / 1.2; }
		}
		
		.front-page {
			
		}
		
		.header-content {
			@include border-radius(10px);
			background-color: #EAE6E3;
			float: right;
			height: 285px;
			padding: 15px 10px 10px;
			position: relative;
			width: 680px;
			
			.left-column {
				float: left;
				height: 100%;
				margin: 15px 0 0 -10px;
				width: 322px;
				
				.header-title {
					background: #7c7972;
					@include border-bottom-right-radius(10px);
					@include border-top-right-radius(10px);
					height: 68px;
					padding: 20px 0 0 20px;
				}
				
				#tagcloud-title {
					border-bottom: 1px solid #7d7a75;
					margin: 30px 0 15px 20px;
					padding-bottom: 3px;
				}
				
				#tagcloud {
					margin-left: 20px;
				}
			}
			
			.right-column {
				
				float: left;
				height: 100%;
				width: 230px;
				padding: 38px 0 0 90px;
			}
			
			.box {				
				bottom: 10px;
				right: 10px;
				position: absolute;
				width: 250px;
				
				.box-header {
					@include border-top-radius(10px);

					background-color: #93B897;
					padding: 15px 20px 10px 20px;

					span.box-first-line {
						display: block;
						height: 12px;
					}

					span.box-second-line {
						display: block;
						height: 18px;
					}
				}
			}
		}
		
		#frontpage-header-content {
			@include border-radius(10px);
			background-color: #EAE6E3;
			float: right;
			height: 245px;
			padding: 15px 10px 10px;
			position: relative;
			width: 775px;

			img#intro-movie {				
				float: left;
				left: 35px;
				margin-right: 50px;
				position: relative;
				top: -40px;
				z-index: 999;
			}

			iframe {
				@include border-radius(10px);
				position: relative;
				left: -250px;
				top: 70px;
				z-index: 1000;
			}

			#social-bar {
				background: #9CC1A2;
				@include border-bottom-left-radius(10px);
				float: right;
				height: 40px;
				position: relative;
				right: 287px;
				top: -40px;
				width: 265px;

				li {
					display: block;
					float: left;
					margin-right: 10px;
				}

				li:first-child {
					margin-left: 15px;
				}
			}

			#bouns-sticker {
				float: right;
				position: relative;
				right: -70px;
				top: -37px;
				z-index: 15;
			}

			.header-quote {
				background: url('../../images/header_frontpage_quotes.png') top left no-repeat;
				float: left;
				padding: 14px 0 0 35px;
				width: 250px;
				height: 186px;

				p#header-quote-text {
					margin-bottom: 10px;
				}

				div#read-more-signature {
					background: url('../../images/header_frontpage_signature.png') right center no-repeat;
					height: 33px;
					line-height: 33px;
					//margin-bottom: 11px;
					width: 100%;

					a {
						@include transition(color, 0.1s, ease-in-out);
					}
				}
			}

			#newsletter-signup-box {
				@include border-top-radius(10px);
				@include border-bottom-right-radius(10px);
				background-color: #9CC1A2;
				float: left;
				margin-left: 35px;
				padding-bottom: 10px;
				position: relative;
				width: 250px;
				z-index: 10;

				#newsletter-header {
					@include border-top-radius(10px);

					background-color: #94918A;
					padding: 15px 0 10px 20px;

					span#social-business-trends {
						display: block;
						height: 12px;
					}

					span#newsletter {
						display: block;
						height: 18px;
					}

				}

				#newsletter-content {
					margin-bottom: 15px;
					padding: 10px 20px 0;
				}

				#newsletter-signup-button {					
					@include border-radius(5px);
					@include background-image(linear-gradient(top, #A4A19C, #7C7972));

					background-color: #7C7972;					
					display: block;
					float: right;
					margin-right: 20px;
					padding: 5px 20px;

					&:hover {
						background-color: #7C7972 / 1.2;						
						color: #FFF / 1.1;
						@include background-image(linear-gradient(top, #A4A19C / 1.2, #7C7972 / 1.2));
					}

					&:active {
						color: #FFF / 1.2;
						@include background-image(linear-gradient(top, #7C7972 / 1.2, #A4A19C / 1.2));
					}
				}
			}
		}
	}
}

#page {
	.widget-container-left {
		clear: left;
		float: left;
		margin-top: 50px;
		width: 320px;
		
		&:first-child {
			margin-top: 0;
		} 
		
		.item {
			border-bottom: 1px solid #CCC;
			float: left;
			margin-bottom: 20px;
			padding-left: 40px;
			padding-bottom: 20px;
			width: 260px;
		}
	}
	
	.widget-container-right {
		clear: left;
		float: left;
		margin-top: 50px;
		width: 560px;
		
		&:first-child {
			margin-top: 0px;
		}
		
		.item {
			float: left;
			margin-bottom: 20px;
			padding-left: 40px;
			width: 520px;
		
			.item-content {
				float: left;
				border-bottom: 1px solid #CCC;
				padding-bottom: 20px;
			}
		}
		
		.excerpt {
			float: left;
		}
		
		.view-all {
			margin-right: 0;
		}
	}
	
	.widget-event {
		background: url('../../images/post_type_icon_events.png') top left no-repeat;
	}
	
	.event {
		@include featured-image(100px, 20px);
		
		.meta-data {
			//float: left;
			width: 390px;
		}
		
		// Probably not needed?
		.title {
			//float: left;
			width: 390px;
		}
		
		.excerpt {
			width: 390px;
		}
		
		.options {
			float: right;
			width: 390px;
		}
	}
	
	.widget-featured-blog {
		background: url('../../images/post_type_icon_featured_blog.png') top left no-repeat;
	}
	
	.featured-blog {
		@include featured-image(240px, 20px);
		
		.meta-data {
			float: right;
			width: 250px;
		}
		
		.title, .excerpt {
			clear: right;
			float: right;
			width: 250px;
		}
		
		.options {
			clear: right;
			float: right;
			width: 250px;
		}
	}
	
	.widget-clients {
		background: url('../../images/post_type_icon_featured_client.png') top left no-repeat;
	
		#clients-viewer {
			float: left;
			width: 100%;

			li {
				float: left;
				margin-right: 14px;
				margin-bottom: 14px;	

				&:first-child {
					margin-left: 0;
				}

				a {	
					@include transition(border-color, 0.1s, ease-in-out);

					border: 5px solid #E1DCD8;
					display: block;
					float: left;
					width: 62px;

					&:hover {
						border-color: #E1DCD8 / 1.2;
					}
				}
			}
		}
	}
	

		
		.options {
			float: right;
			height: 16px;
			line-height: 16px;
			margin-top: 20px;
			width: 100%;

			.view-clients {
				color: #F00;
				float: right;
				margin-left: 30px;
				margin-right: 20px;
			}

			.view-cases {
				float: right;
			}
		}
	
	.header-container {
		margin-left: 50px;
		margin-bottom: 20px;
	}
	
	.widget-books {
		background: url('../../images/post_type_icon_books.png') top left no-repeat;
	}
	
	.book {
		@include featured-image(60px, 20px);
	}
	
	.widget-blog {
		background: url('../../images/post_type_icon_featured_blog.png') top left no-repeat;
	}
	
	.blog {
		@include featured-image(250px, 0);
		
		.excerpt {
			width: 260px;
		}
	}
	
	.widget-reading-room {
		background: url('../../images/post_type_icon_reading_room.png') top left no-repeat;
	}
	
	.reading-room {
		@include featured-image(60px, 20px);
	}
	
	.by-line {
		float: left;
		margin-top: 3px;
	}
	
	.meta-data {
		float: right;
		margin-top: 3px;
		margin-bottom: 12px;
	}
	
	.title {
		clear: right;
		margin-bottom: 12px;
	}
	
	.excerpt {
		clear: right;
		float: right;
		width: 170px;
	}
	
	.options {
		float: left;
		height: 16px;
		line-height: 16px;
		margin-top: 20px;
		width: 100%;
		
		.sharing {
			float: left;
		}
		
		.read-more {
			float: right;
		}
	}
	
	.view-all {
		@include transition(all, 0.1s, ease-in-out);
		
		background-color: #B1ACA6;
		float: right;
		margin-right: 20px;
		padding: 5px 15px;
		
		&:hover {
			background-color: #B1ACA6 / 1.2;
		}
	}
}

footer {
	#footer-bar {
		background-color: #B0ADA6;
		color: #FFF;
		//margin: 0 auto;
		padding: 0.764em 0;
		text-align: center;
		width: 100%;

		li {
			display: inline;
			padding: 0 10px;
		}
	}
	
	#co2-link {
		float: right;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

.clearer {
	clear: both;
}