@import "compass/css3";

html, body {
	height: 100%;
}

#page-wrapper {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	
	header {
		margin: 0 auto;
		width: 960px;

		#header-menu-logo-container {
			margin-bottom: 4px;
		}
	}
	
	#header-content {
		clear: both;
		margin: 0 auto;
		width: 960px;
		z-index: 5;
	}
	
	#page-content{
		background: url('../../images/background_gradient.png') repeat-x;
		margin: 0px 0px 20px;
		padding-top: 30px;
		position: relative;
		top: 75px;
		z-index: 1;
		
		#page {
			background: #fff;
			height: 100%;
			margin: 0 auto;
			padding: 30px 0;
			width: 960px;
			@include box-shadow(#888 -3px 5px 25px 5px);
			
			section.left-sidebar, section.right-sidebar {
				float: left;
				height: 100%;
			}
			
			section.left-sidebar {
				border-right: 1px solid #c6c2b7;
				padding-right: 20px;
				width: 300px;
			}
			
			section.right-sidebar {
				//padding-left: 20px;
			}
		}
	}
}

footer, #push {
	height: 142px; /* .push must be the same height as .footer */
	width: 960px;
	margin: 0 auto;
}

/* Sticky Footer by Ryan Fait http://ryanfait.com/ */