@import "compass/css3";

html, body {
	height: 100%;
}

#page-wrapper {
	header {
		margin: 0 auto;
		width: 960px;

		#header-menu-logo-container {
			margin-bottom: 4px;
		}
	}
	
	#header-content {
		margin: 0 auto;
		width: 960px;
	}
	
	#page-content{
		background: url('../../images/background_gradient.png') repeat-x;
		margin-top: 75px;
		padding-top: 30px;
		z-index: 1;
		
		#page {
			background: #fff;
			//height: 100%;
			margin: 0 auto;
			padding: 60px 0 30px;
			width: 960px;
			@include box-shadow(#888 -3px 20px 25px 5px);
			
			section.left-sidebar, section.right-sidebar {
				float: left;
				//height: 100%;
			}
			
			section.left-sidebar {
				border-right: 1px solid #c6c2b7;
				width: 330px;
			}
			
			section.right-sidebar {
				padding-left: 20px;
			}
		}
	}
}

footer {
	position: relative;
	top: 50px;
	width: 960px;
	margin: 0 auto;
}