body {
	font-size: 75%;
}

html>body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#navigation-top {
	li {
		a {
			text-decoration: none;
		}
	}
}

#shop-link {
	font-size: 0.9em;
	text-decoration: none;
	text-transform: uppercase;
	}

#navigation-pages {
	li {
		a {
			font-size: 0.9em;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}

content {
	#sub-heading {
		text-transform: uppercase;
		color: #94918A;
		
		span {
			color: #7D7A73;
			font-weight: bold;
		}
	}
	
	#language-picker {
		color: #9D9C97;
		font-weight: bold;
		text-transform: uppercase;
		
		a {
			color: #9D9C97;
			text-decoration: none;
		}
		
		a.current {
			color: #93B897;
		}
	}
}

#footer-bar { 
	li {
		font-size: 1em;
		font-weight: 500;
	}
}