body {
	font-size: 75%;
}

html>body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#navigation-top {
	li {
		a {
			color: #9D9C97;
			font-weight: bold;
			text-decoration: none;
		}
		
		a:active {
			text-decoration: underline;
		}
	}
}

#header-menu-logo-container {
	
	
	#shop-link {
		color: #FFF;
		font-size: 0.9em;
		text-decoration: none;
		text-transform: uppercase;
		}

	#navigation-pages {
		li {
			a {
				font-size: 0.9em;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}

#header-content {
	#sub-heading {
		text-transform: uppercase;
		color: #94918A;
		
		span {
			color: #7D7A73;
			font-weight: bold;
		}
	}
	
	#language-picker {
		color: #9D9C97;
		text-transform: uppercase;
		
		a {
			color: #9D9C97;
			text-decoration: none;
		}
		
		a.current {
			color: #93B897;
		}
	}
	
	/* FRONT PAGE HEADER MENU */
	#social-business-menu {
		li {
			a {
				color: #FFF;
				text-decoration: none;
				text-transform: uppercase;
				
				.social {
					font-weight: bold;
				}
				
				.term {
					font-family: "Arial Black", Arial, sans-serif;
					font-size: 1.4em;
					font-weight: bold;
					line-height: 1em;
				}
			}
		}
	}
	
	#frontpage-header-content {
		.header-quote {
			h6 {
				color: #7C7972;
				font-size: 1.2em;
				font-weight: bold;
				line-height: 1.1em;
				margin-bottom: 10px;
			}
			
			p#header-quote-text {
				color: #7C7972;
				line-height: 1.5em;
			}
			
			div#read-more-signature {
				
				a {
					color: #7C7972;
					font-weight: bold;
					text-decoration: none;
					
					&:hover {
						color: #7C7972 / 1.3;
					}
				}
			}
		}
		
		#newsletter-signup-box {			
			#header {
				color: #FFF;
				text-transform: uppercase;
				
				#social-business-trends {
				}
				
				#newsletter {
					font-family: "Arial Black", Arial, Helvetica, sans-serif;
					font-size: 1.3em;
				}
			}
			
			#content {
				color: #FFF;
				font-size: 1em;
				line-height: 1.2em;
			}
			
			#newsletter-signup-button {
				color: #FFF;
				text-decoration: none;
			}
		}
	}
}

#page {
	.left-sidebar {
		.widget-container {
			.header-container {
				color: #B0ADA6;

				.first-line {
					font-family: "Arial Black", Arial, Helvetica, sans-serif;
					font-size: 1.8em;
					
					line-height: 0.699em;
					text-transform: uppercase;
				}
				
				.second-line {
					font-family: Arial, Helvetica, sans-serif;
					font-size: 1.8em;
					line-height: 1.65em;
					text-transform: uppercase;
				}
			}
		}
	}
}

#footer-bar { 
	li {
		font-size: 1em;
		font-weight: 500;
	}
}