@import "compass/css3/transition";
  
body {
	font-size: 75%;
}

html>body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#shop-link {
	color: #FFF;
	font-size: 0.9em;
	text-decoration: none;
	text-transform: uppercase;
} 

#navigation-top {
	li {
		a {
			color: #9D9C97;
			font-weight: bold;
			text-decoration: none;
		}
	}
} 

#header-menu-logo-container {
	
	
	#shop-link {
		color: #FFF;
		font-size: 0.9em;
		text-decoration: none;
		text-transform: uppercase;
		}

	#navigation-pages {
		li {
			a {
				font-size: 0.9em;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}

#header {
	#sub-heading {
		text-transform: uppercase;
		color: #94918A;
	}
	
	#language-picker {
		color: #9D9C97;
		text-transform: uppercase;
		
		a {
			color: #9D9C97;
			text-decoration: none;
		}
		
		a.current {
			color: #93B897;
		}
	}
	
	.header-content {
		.header-title {
			color: #fff;
			
			.first-line {
				font-size: 1.8em;
				text-transform: uppercase;
			}
			
			.second-line {
				font-family: "Arial Black", Arial, sans-serif;
				font-size: 2.6em;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
		
		.left-column {
			#tagcloud-title {
				color: #7d7a75;
				font-size: 1.3em;
				text-transform: uppercase;
			}
			
			#tagcloud {
				a {
					text-decoration: none;
					text-transform: uppercase;
				}
			}
		}
		
		#club-left {
			.testemonials-title {
				color: #7D7A75;
				
				.first-line {
					font-size: 2.7em;
					font-weight: bold;
					text-transform: uppercase;
				}
				
				.second-line {
					font-size: 1.7em;
				}
			}
			
			.club-videos {
				.club-video {
					.testemonial-author {
						color: #7D7A75;
						font-size: 1.05em;
						font-weight: bold;
					}
					
					.author-url {
						@include transition(color, 0.1s, ease-in-out);
						
						color: #9CC1A2 / 1.1;
						font-weight: bold;
						text-decoration: none;
					
						&:hover {
							color: #9CC1A2 / 1.2;
						}
					}
				}
			}
		}
		
		#consulting-left {
			width: 372px;
			
			.header-title {
				background-color: #83A9C0;
				width: 272px;
			}
			
			.csr-four-corners {
				position: relative;
				height: 190px;
				margin-left: 30px;
				width: 372px;
				
				.middle {				
					p {
						color: #888;
						font-size: 0.9em;
						text-transform: uppercase;
					}
				}
				
				a {
					color: #FFF;
					text-align: center;
					text-decoration: none;
				}
			}
		}
		
		#lectures-left {			
			.lecture-board {
				ul {
					color: #9CC1A2;
					font-style: italic;
					font-weight: bold;
					line-height: 1.2em;
					
					a {
						@include transition(color, 0.1s, ease-in-out);
						color: #9CC1A2;
						text-decoration: none;
						
						&:hover {
							color: #9CC1A2 / 1.2;
						}
					}
				}
			}
		}
		
		#events-left {
			.event-testemonial {
				.testemonial-content {
					color: #7D7A75;
					
					.testemonial-author {
						font-size: 0.9em;
						text-transform: uppercase;
					}
					
					.testemonial-entry {
						font-style: italic;
						font-weight: bold;
						line-height: 1.4em;
					}
					
					.case-link {
						@include transition(color, 0.1s, ease-in-out);
						color: rgb(123, 185, 134);
						font-weight: bold;
						text-decoration: none;
						
						&:hover {
							color: rgb(123, 185, 134) / 1.2;
						}
					}
				}
			}
		}
		
		#lab-left {
			.lab-container {
				.lab {
					color: #7D7A75;
					
					.title {
						font-size: 1.3em;
						line-height: 1.3em;
						text-transform: uppercase;
						
						.second-line {
							font-weight: bold;
						}
					}
					
					.content {
						line-height: 1.3em;
					}

					.lab-link {
						@include transition(color, 0.1s, ease-in-out);
						color: rgb(123, 185, 134);
						font-weight: bold;
						text-decoration: none;
						
						&:hover {
							color: rgb(123, 185, 134) / 1.2;
						}
					}
				}
			}
		}
		
		#about-right {
			.header-right-box {
				
				.title {
					font-weight: bold;
					line-height: 1.3em;
				}
				
				.content {
					line-height: 1.4em;
				}
				
				#read-more-about {
					line-height: 27px;
				}
			}
		}
		
		.right-column {
			h2 {
				color: #7d7a75;
				font-size: 1.1em;
				font-weight: bold;
				line-height: 1.2em;
			}
			
			p {
				color: #7d7a75;
				line-height: 1.3em;
				margin-bottom: 10px;
			}
			
			a {
				color: #7d7a75;
				font-size: 1.1em;
				font-weight: bold;
				float: right;
				text-decoration: none;
			}
		}
	}
	
	#navigation-header-standard {
		li {
			a {
				color: #b0ada6;
				font-size: 0.9em;
				font-weight: bold;
				line-height: 0.9em;
				text-decoration: none;
				text-transform: uppercase;
				
				&:hover {
					color: #7C7973;
				}
			}
			
			.current {
				color: #7C7973;
			}
		}
		
		.current-menu-item a {
			color: #7C7973;
		}
	}
	
	/* FRONT PAGE HEADER MENU */
	#navigation-social-business {
		li {
			a {
				color: #FFF;
				text-decoration: none;
				text-transform: uppercase;
				
				.social {
					font-weight: bold;
				}
				
				.term {
					font-family: "Arial Black", Arial, sans-serif;
					font-size: 1.4em;
					font-weight: bold;
					line-height: 1em;
				}
			}
		}
	}
	
	.header-content {
		.header-quote {
			h6 {
				color: #7C7972;
				font-size: 1.2em;
				font-weight: bold;
				line-height: 1.1em;
				margin-bottom: 10px;
			}
			
			p#header-quote-text {
				color: #7C7972;
				line-height: 1.5em;
			}
			
			div#read-more-signature {
				
				a {
					color: #7C7972;
					font-weight: bold;
					text-decoration: none;
					
					&:hover {
						color: #7C7972 / 1.3;
					}
				}
			}
		}
		
		.box {
			
			.box-header {
				color: #FFF;
				text-transform: uppercase;

				span.box-first-line {

				}

				span.box-second-line {
					font-family: "Arial Black", Arial, Helvetica, sans-serif;
					font-size: 1.3em;
				}
			}
		}
		
		#newsletter-signup-box {			
			#newsletter-header {
				color: #FFF;
				text-transform: uppercase;
				
				#social-business-trends {
				}
				
				#newsletter {
					font-family: "Arial Black", Arial, Helvetica, sans-serif;
					font-size: 1.3em;
				}
			}
			
			#newsletter-content {
				color: #FFF;
				font-size: 1em;
				line-height: 1.2em;
			}
			
			#newsletter-signup-button {
				color: #FFF;
				text-decoration: none;
			}
		}
	}
}

#page {
	
	.thumblock {
		.gdthumbtext {
			color: #7FB987;
			font-weight: bold;
		}
	}
	
	.box {				
		
		.box-header {
			color: #FFF;
			text-transform: uppercase;

			span.box-first-line {
				line-height: 1em;
			}

			span.box-second-line {
				font-family: "Arial Black", Arial, Helvetica, sans-serif;
				font-size: 1.3em;
				line-height: 1em;
			}
		}
		
		.box-content {
			color: #FFF;
			font-size: 1em;
			line-height: 1.3em;
			
			&.box-content-blog {
				color: #5c5a55;
			}
		}
		
		.box-content-dark {
			color: #555;
		}
		
		.box-button {
			color: #FFF;
			text-decoration: none;
		}
	}
	
	.post-header, .comments-header {
		color: #B0ADA6;
		
		.first-line {
			font-family: "Arial Black", Arial, Helvetica, sans-serif;
			font-size: 1.8em;
			
			line-height: 0.699em;
			text-transform: uppercase;
		}
		
		.second-line {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 1.8em;
			line-height: 1.65em;
			text-transform: uppercase;
			
			a {
				color: #B0ADA6;
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
		
		.big-line {
			font-family: "Arial Black", Arial, Helvetica, sans-serif;
			font-size: 1.8em;
			font-weight: bold;
			line-height: 0.75em;
			padding-bottom: 34px;
			text-transform: uppercase;
		}
		
		.lead-text {
			font-weight: bold;
			line-height: 1.3em;
		}
	}
	
	.post {
		color: #7D7872;
		
		.meta {
			font-size: 0.9em;
			
			.byline {
				font-weight: bold;
				text-transform: uppercase;
				
				a {
					color: #7D7872;
					text-decoration: none;
					
					&:hover {
						text-decoration: underline;
					}
				}
			}
			
			.date {
				text-transform: uppercase;
			}
		}
		
		.title {
			font-size: 2.2em;
			font-weight: bold;
			text-transform: uppercase;
			
			a {
				color: #7D7872;
				text-decoration: none;
			}
		}
		
		.entry {
			font-size: 1em;
			line-height: 1.5em;
			
			a {
				@include transition(color, 0.1s, ease-in-out);
				color: #7FB987;
				text-decoration: none;
				font-weight: bold;
				
				&:hover {
					color: #7FB987 / 1.2;
				}
			}
			
			ul {
				margin-bottom: 1em;
			}
			
			p {
				margin-bottom: 1em;
				
				strong {
					font-weight: bold;
				}
				
				em {
					font-style: italic;
				}
			}

			h1 { font-size: 1.7em; }			
			h2 { font-size: 1.5em; }
			h3 { font-size: 1.25em; }
			h4 { font-size: 1.1em; }
			h5 { font-size: 1em; }
			h6 { font-size: 0.9em; }
					
			h1, h2, h3, h4, h5, h6 {
				font-weight: bold;
				margin-bottom: 0.6em;
				margin-top: 2.5em;
				text-transform: uppercase;
			}
			
			.contact-form {
				p {
					label {
						font-weight: bold;
					}
					
					input[type=submit] {
						color: #FFF;
					}
				}
			}
		}
		
		.read-more {						
			a {
				@include transition(color, 0.1s, ease-in-out);
			
				color: #7FB987;
				font-weight: bold;
				text-decoration: none;
			
				&:hover {
					color: #7FB987 / 1.2;
				}
			}
		}
		
		.add-comment {
			float: left;
		}
	}
	
	.post-feed {
		color: #7D7872;
		
			
		.byline {
			font-size: 0.9em;
			font-weight: bold;
			text-transform: uppercase;
		}
		
		.date {
			font-size: 0.9em;
			text-transform: uppercase;
		}
		
		.title {
			font-size: 1.3em;
			font-weight: bold;
			text-transform: uppercase;
			
			a {
				color: #7D7872;
				text-decoration: none;
			}
		}
		
		.entry {
			line-height: 1.3em;
			
			a {
				color: #7FB987;
				font-weight: bold;
				text-decoration: none;
				@include transition(color, 0.1s, ease-in-out);
				
				&:hover {
					color: #7FB987 / 1.2;
				}
			}
		}
		
		.add-comment {
			a {
				color: #7FB987;
				float: left;
				font-weight: bold;
				text-decoration: none;
				@include transition(color, 0.1s, ease-in-out);
				
				&:hover {
					color: #7FB987 / 1.2;
				}
			}
		}
		
		.read-more, .add-comment, .read-more a {
			@include transition(color, 0.1s, ease-in-out);
			
			color: #7FB987;
			float: right;
			font-weight: bold;
			text-decoration: none;
			
			&:hover {
				color: #7FB987 / 1.2;
			}
		}
		
		.add-comment {
			float: left;
		}
	}
	
	.posts-nav-links {
		a {
			color: #FFF;
			text-decoration: none;
		}
	}
	
	.post-categories, .post-tags {
		color: #7D7872;
		font-weight: bold;
		
		a {
			@include transition(color, 0.1s, ease-in-out);
			color: #7FB987;
			font-weight: normal;
			text-decoration: none;
			
			&:hover {
				color: #7FB987 / 1.2; 
			}
		}
	}
	
	#respond {
		color: #7D7872;
		font-weight: bold;
		
		input {
			font-weight: normal;
		}
		
		input[type=submit] {
			color: #FFF;
		}
	}
	
	.recent-comments {
		color: #7D7872;
		font-size: 1.3em;
		text-transform: uppercase;
		
		span {
			color: #7FB987;	
		}
	}
	
	.comment {
		.comment-author-url {
			color: #7FB987;
			font-weight: bold;
			text-decoration: none;
		}
		
		.comment-date-time {
			color: #7D7872;
			font-size: 0.9em;
			text-transform: uppercase;
		}
		
		.comment-author {
			color: #7D7872;
			font-size: 1.3em;
			text-transform: uppercase;
		}
		
		.comment-content {
			color: #7D7872;
			line-height: 1.3em;
		}
	}
	
	.widget-list {
		.list {
			.title {
				color: rgb(125, 122, 117);
			}
			
			li {
				font-size: 11px;
			}
		}
	}
	
	.widget {			
		.header-container {
			color: #B0ADA6;

			.first-line {
				font-family: "Arial Black", Arial, Helvetica, sans-serif;
				font-size: 1.8em;
				
				line-height: 0.699em;
				text-transform: uppercase;
			}
			
			.second-line {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 1.8em;
				line-height: 1.65em;
				text-transform: uppercase;
			}
		}
		
		.item {
			.by-line, .meta-data {
				color: #94918A;
				font-size: 0.9em;
				text-transform: uppercase;
			}
		
			.by-line {
				font-weight: bold;
			}
		
			.title {
				color: #94918A;
				display: block;
				font-size: 1.3em;
				font-weight: bold;
				text-decoration: none;
				text-transform: uppercase;
				
				&:hover {
					text-decoration: underline;
				}
			}
		
			.excerpt {
				color: #94918A;
				line-height: 1.4em;
			}
		
			.options {
				.read-more, .view-cases, .view-clients, .add-comment {
					@include transition(color, 0.1s, ease-in-out);
				
					color: #7db985;
					font-size: 1.1em;
					text-decoration: none;
					font-weight: bold;
				
					&:hover {
						color: #7db985 / 1.2;
					}
				}
			}
			
			.list {
				li {
					color: rgb(123, 120, 115);
					text-transform: uppercase;
				}
			}
		}	
		
		.view-all {				
			color: #FFF;
			text-decoration: none;
		
			&:hover {
				color: #FFF / 1.1;
			}	
		} 
	}
	
	.widget-key-services {
		.key-services {
			
			.key-service {
				.header {
					color: #FFF;
					
					.first-line {
						text-transform: uppercase;
					}
					
					.second-line {
						font-family: "Arial Black", Arial, Helvetica;
						font-size: 1.8em;
						text-transform: uppercase;
					}
				}
				
				.key-service-read-more {
					color: #FFF;
					text-decoration: none;
				}
			}
			
			.content {
				color: #7D7A75 / 1.4;
				line-height: 1.5em; 
			}
			
			ul {
			}
			
			
		}
	}
}

#footer-bar { 
	li {
		font-size: 1em;
		font-weight: bold;
	}
}

#footer-menu li  {
	span {
		color: #9D9C97;
	}
	
	a {
		color: #9D9C97;
		text-decoration: none;



		&:hover {
			text-decoration: underline;
		}
	}
}

#tagcloud, .widget-tagcloud .tagcloud {
	// Tag cloud colors
	.s1 { color: #a8a6cd; font-size: 14px; }
	.s2 { color: #91b997; font-size: 16px; }
	.s3 { color: #e7cd30; font-size: 18px; }
	.s4 { color: #83a8c2; font-size: 20px; }
	.s5 { color: #d7b590; font-size: 22px; }
}

strong, b {
	font-weight: bold;
}