@import "compass/css3/transition";

body {
	font-size: 75%;
}

html>body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#navigation-top {
	li {
		a {
			color: #9D9C97;
			font-weight: bold;
			text-decoration: none;
		}
		
		a:active {
			text-decoration: underline;
		}
	}
}

#header-menu-logo-container {
	
	
	#shop-link {
		color: #FFF;
		font-size: 0.9em;
		text-decoration: none;
		text-transform: uppercase;
		}

	#navigation-pages {
		li {
			a {
				font-size: 0.9em;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}

#header {
	#sub-heading {
		text-transform: uppercase;
		color: #94918A;
		
		span {
			color: #7D7A73;
			font-weight: bold;
		}
	}
	
	#language-picker {
		color: #9D9C97;
		text-transform: uppercase;
		
		a {
			color: #9D9C97;
			text-decoration: none;
		}
		
		a.current {
			color: #93B897;
		}
	}
	
	.header-content {
		.header-title {
			color: #fff;
			
			.first-line {
				font-size: 1.8em;
				text-transform: uppercase;
			}
			
			.second-line {
				font-family: "Arial Black", Arial, sans-serif;
				font-size: 2.6em;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
		
		.left-column {
			#tagcloud-title {
				color: #7d7a75;
				font-size: 1.3em;
				text-transform: uppercase;
			}
			
			#tagcloud {
				a {
					text-decoration: none;
					text-transform: uppercase;
				}
			}
		}
		
		.right-column {
			h2 {
				color: #7d7a75;
				font-size: 1.1em;
				font-weight: bold;
				line-height: 1.2em;
			}
			
			p {
				color: #7d7a75;
				line-height: 1.3em;
				margin-bottom: 10px;
			}
			
			a {
				color: #7d7a75;
				font-size: 1.1em;
				font-weight: bold;
				float: right;
				text-decoration: none;
			}
		}
	}
	
	#navigation-header-standard {
		li {
			a {
				color: #b0ada6;
				font-size: 1em;
				line-height: 1em;
				text-decoration: none;
				text-transform: uppercase;
				
				&:hover {
					color: #7C7973;
				}
			}
			
			.current {
				color: #7C7973;
			}
		}
	}
	
	/* FRONT PAGE HEADER MENU */
	#navigation-social-business {
		li {
			a {
				color: #FFF;
				text-decoration: none;
				text-transform: uppercase;
				
				.social {
					font-weight: bold;
				}
				
				.term {
					font-family: "Arial Black", Arial, sans-serif;
					font-size: 1.4em;
					font-weight: bold;
					line-height: 1em;
				}
			}
		}
	}
	
	.header-content {
		.header-quote {
			h6 {
				color: #7C7972;
				font-size: 1.2em;
				font-weight: bold;
				line-height: 1.1em;
				margin-bottom: 10px;
			}
			
			p#header-quote-text {
				color: #7C7972;
				line-height: 1.5em;
			}
			
			div#read-more-signature {
				
				a {
					color: #7C7972;
					font-weight: bold;
					text-decoration: none;
					
					&:hover {
						color: #7C7972 / 1.3;
					}
				}
			}
		}
		
		.box {
			
			.box-header {
				color: #FFF;
				text-transform: uppercase;

				span.box-first-line {

				}

				span.box-second-line {
					font-family: "Arial Black", Arial, Helvetica, sans-serif;
					font-size: 1.3em;
				}
			}
		}
		
		#newsletter-signup-box {			
			#newsletter-header {
				color: #FFF;
				text-transform: uppercase;
				
				#social-business-trends {
				}
				
				#newsletter {
					font-family: "Arial Black", Arial, Helvetica, sans-serif;
					font-size: 1.3em;
				}
			}
			
			#newsletter-content {
				color: #FFF;
				font-size: 1em;
				line-height: 1.2em;
			}
			
			#newsletter-signup-button {
				color: #FFF;
				text-decoration: none;
			}
		}
	}
}

#page {
	
	.box {				
		
		.box-header {
			color: #FFF;
			text-transform: uppercase;

			span.box-first-line {

			}

			span.box-second-line {
				font-family: "Arial Black", Arial, Helvetica, sans-serif;
				font-size: 1.3em;
			}
		}
		
		.box-content {
			color: #FFF;
			font-size: 1em;
			line-height: 1.1em;
		}
		
		.box-button {
			color: #FFF;
			text-decoration: none;
		}
	}
	
	.post-header, .comments-header {
		color: #B0ADA6;
		
		.first-line {
			font-family: "Arial Black", Arial, Helvetica, sans-serif;
			font-size: 1.8em;
			
			line-height: 0.699em;
			text-transform: uppercase;
		}
		
		.second-line {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 1.8em;
			line-height: 1.65em;
			text-transform: uppercase;
		}
	}
	
	.post {
		color: #7D7872;
		
		.meta {
			font-size: 0.9em;
			
			.byline {
				font-weight: bold;
				text-transform: uppercase;
			}
			
			.date {
				text-transform: uppercase;
			}
		}
		
		.title {
			font-size: 2.2em;
			font-weight: bold;
			text-transform: uppercase;
			
			a {
				color: #7D7872;
				text-decoration: none;
			}
		}
		
		.entry {
			line-height: 1.3em;
			
			p {
				margin-bottom: 1em;
				
				strong {
					font-weight: bold;
				}
			}
			
			h3 {
				font-size: 1.25em;
				font-weight: bold;
				margin-bottom: 0.6em;
				margin-top: 2.5em;
				text-transform: uppercase;
			}
		}
	}
	
	#respond {
		color: #7D7872;
		font-weight: bold;
		
		input {
			font-weight: normal;
		}
		
		input[type=submit] {
			color: #FFF;
		}
	}
	
	.comment {
		.comment-author-url {
			color: #7FB987;
			font-weight: bold;
			text-decoration: none;
		}
		
		.comment-date-time {
			color: #7D7872;
			font-size: 0.9em;
			text-transform: uppercase;
		}
		
		.comment-author {
			color: #7D7872;
			font-size: 1.3em;
			text-transform: uppercase;
		}
		
		.comment-content {
			color: #7D7872;
			line-height: 1.3em;
		}
	}
	
	.widget {			
		.header-container {
			color: #B0ADA6;

			.first-line {
				font-family: "Arial Black", Arial, Helvetica, sans-serif;
				font-size: 1.8em;
				
				line-height: 0.699em;
				text-transform: uppercase;
			}
			
			.second-line {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 1.8em;
				line-height: 1.65em;
				text-transform: uppercase;
			}
		}
		
		.item {

			.by-line, .meta-data {
				color: #94918A;
				font-size: 0.9em;
				text-transform: uppercase;
			}
		
			.by-line {
				font-weight: bold;
			}
		
			.title {
				color: #94918A;
				font-size: 1.3em;
				font-weight: bold;
				text-transform: uppercase;
			}
		
			.excerpt {
				color: #94918A;
				line-height: 1.4em;
			}
		
			.options {
				.read-more, .view-cases, .view-clients {
					@include transition(color, 0.1s, ease-in-out);
				
					color: #749B7F;
					font-size: 1.1em;
					text-decoration: none;
				
					&:hover {
						color: #749B7F / 1.2;
					}
				}
			}
		}	
		
		.view-all {				
			color: #FFF;
			text-decoration: none;
		
			&:hover {
				color: #FFF / 1.1;
			}	
		}
	}
}

#footer-bar { 
	li {
		font-size: 1em;
		font-weight: 500;
	}
}