body {
	font-size: 75%;
}

html>body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#navigation-top {
	li {
		a {
			color: #9D9C97;
			font-weight: bold;
			text-decoration: none;
		}
		
		a:active {
			text-decoration: underline;
		}
	}
}

#header-menu-logo-container {
	
	
	#shop-link {
		color: #FFF;
		font-size: 0.9em;
		text-decoration: none;
		text-transform: uppercase;
		}

	#navigation-pages {
		li {
			a {
				font-size: 0.9em;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}

content {
	#sub-heading {
		text-transform: uppercase;
		color: #94918A;
		
		span {
			color: #7D7A73;
			font-weight: bold;
		}
	}
	
	#language-picker {
		color: #9D9C97;
		text-transform: uppercase;
		
		a {
			color: #9D9C97;
			text-decoration: none;
		}
		
		a.current {
			color: #93B897;
		}
	}
	
	/* FRONT PAGE HEADER MENU */
	#social-business-menu {
		li {
			a {
				color: #FFF;
				text-decoration: none;
				text-transform: uppercase;
				
				.social {
					font-weight: bold;
				}
				
				.term {
					font-family: "Arial Black", Arial, sans-serif;
					font-size: 1.4em;
					font-weight: bold;
					line-height: 1em;
				}
			}
		}
	}
}

#footer-bar { 
	li {
		font-size: 1em;
		font-weight: 500;
	}
}